<picture>
    <source media="(max-width: 768px)" width="242" height="288" srcset="{{ glide:image w="242" h="288" quality="85" format="jpg" }}" />
    {{ if count %2 }}
        <source media="(min-width: 769px)" width="768" height="672" srcset="{{ glide:image w="768" h="672" quality="85" format="jpg" }}" type="image/jpeg"/>
        <source media="(min-width: 769px)" width="768" height="672" srcset="{{ glide:image w="768" h="672" quality="85" format="webp" }}" type="image/jpeg"/>
        <img src="{{ glide:image w="768" h="672" quality="85" format="jpg" }}" width="768" height="672" alt="{{ image:alt }}" class="object-cover w-full h-full" style="object-position:  {{ focus | background_position }}" aria-hidden="true" loading="lazy">
    {{ else }}
        <source media="(min-width: 769px)" width="768" height="460" srcset="{{ glide:image w="768" h="460" quality="85" format="jpg" }}" type="image/jpeg"/>
        <source media="(min-width: 769px)" width="768" height="460" srcset="{{ glide:image w="768" h="460" quality="85" format="webp" }}" type="image/webp"/>
        <img src="{{ glide:image w="768" h="460" quality="85" format="jpg" }}" width="768" height="460" alt="{{ image:alt }}" class="object-cover w-full h-full" style="object-position:  {{ focus | background_position }}" aria-hidden="true" loading="lazy">
    {{ /if }}
</picture>