{{#
    @name Background Hero
    @desc The background hero component.
#}}

<!-- /layout/_background_hero.antlers.html -->
<div class="relative bg-white">
    {{ if hero_type == 'video' && hero_video }}
    <div x-data="{video: ($width>768) ? '{{ hero_video }}' : '{{ hero_video_mobile }}', poster: ($width>768) ? '{{ fallback_image }}' : '{{ glide:fallback_image w="720" h="1280" }}'}" 
        x-screen="video = ($width>768) ? '{{ hero_video }}' : '{{ hero_video_mobile }}'"
        x-effect="$refs.video.load()"
        aria-hidden="true" class="absolute inset-0 overflow-hidden">
        <video
            x-ref="video" 
                playsinline muted autoplay loop
                :poster="poster"
                class="w-full h-full object-cover object-center"
            >
            <source :src="video" type="video/mp4">
        </video>
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-black-50"></div>
    {{ elseif hero_image }}
        <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
            {{ partial:statamic-peak-tools::components/picture :image="hero_image" aspect_ratio="1/1 large:2/1" cover="true" sizes="100vw" }}
        </div>
        <div aria-hidden="true" class="absolute inset-0 bg-gradient-to-b from-black/0 from-10% to-[#000] to-75%" 
        style="opacity: {{ !overlay_opacity ? '1' : (overlay_opacity / 100) }}"></div>
        {{ if hero_type != 'article' && hero_type != 'product' && hero_type != 'case-study'  }}<div aria-hidden="true" class="absolute top-0 inset-x-0 h-32 bg-gradient-to-t to-70% from-black/0 to-[#000]" style="opacity: {{ !overlay_opacity ? '1' : (overlay_opacity / 100) }}"></div>{{/if}}
    {{ /if}}

    <div class="relative w-full flex flex-col justify-end min-h-[800px] pb-8 md:pt-64 md:pb-16">
        <div class="fluid-container grid md:grid-cols-12 gap-8 md:gap-y-20">
            <div x-data="fadeIn" 
                x-init="hide($el.children), setTimeout(() => fadeInStagger($el), {{ text_animation_delay >= 1 ? (text_animation_delay * 1000) : '300' }})" class="relative md:col-span-11">
                {{ show_breadcrumb && !show_title ?= { partial:navigation/breadcrumbs color="text-white" class="mb-3" } }}
                {{ show_title ?= {partial:typography/p :content="title" color="text-charcoal-40"} }}
                {{ show_topic ?= {partial:components/tags :tags="topics" class="mb-3"} }}
                {{ show_resource ?= {partial:components/tags :tags="resources" class="mb-3"} }}
                {{ show_press ?= {partial:components/tag url="/insights/press" tag_type="secondary" rounded="true" title="Press" class="mb-3"} }}
                {{ show_awards ?= {partial:components/tag url="/insights/awards" tag_type="secondary" title="Awards" class="mb-3"} }}
                {{ partial:typography/h1 :content="headline" color="text-white" class="{!live_preview ?= 'opacity-0'}" }}
                {{ supporting_text ?= {partial:typography/p :content="supporting_text" color="text-white" class="mt-2 md:mt-6 max-w-[86ch] {!live_preview ?= 'opacity-0'}"} }}
                {{ show_location ?= {partial:components/tag tag_type="location" as="span" :title="locations:0:long_title ?? locations:0:title" class="mt-4" } }}
                {{ if show_date }}
                <div class="flex flex-col md:flex-row md:items-center text-lg text-white mt-2 md:mt-4">
                    {{ show_date ?= {partial:typography/time :content="date" class="text-white" } }}
                    {{ if author }}
                        <span class="hidden md:block w-3 h-3 bg-green rounded-full mx-4"></span>
                        By {{ author:name ?? 'Coates' }}
                    {{ /if }}
                </div>
                {{ /if }}
            </div>
        </div>
    </div>
</div>
<!-- /layout/_background_hero.antlers.html -->