{{#
    @name Hero
    @desc The hero component.
    @param hero_type
#}}

<!-- /layout/_hero.antlers.html -->
<div class="relative bg-black-80 -mt-16">
    {{ if hero_video }}
    <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
        <video
                playsinline muted autoplay loop preload
                poster="{{ fallback_image }}"
                class="w-full h-full object-cover object-center"
            >
            <source src="{{ hero_video }}" type="video/mp4">
        </video>
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-black-50"></div>
    {{ elseif hero_image }}
    <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
        {{ partial:statamic-peak-tools::components/picture :image="hero_image" aspect_ratio="1/1 large:2/1" cover="true" lazy="true" sizes="100vw" }}
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-black-50"></div>
    {{ /if}}
    <div class="relative w-full h-screen flex flex-col justify-end md:h-auto pb-8 md:pt-64 md:pb-16">
        <div class="fluid-container grid md:grid-cols-12 gap-8 md:gap-y-20">
            <div class="relative md:col-span-10">
                {{ show_breadcrumb ?= { partial:navigation/breadcrumbs } }}
                {{ show_topic ?= {partial:components/tag :label="topics:0:title" :url="topics:0:url" } }}
                {{ partial:typography/h1 :content="headline" color="text-white" class="md:max-w-[18ch]" }}
                {{ supporting_text ?= {partial:typography/p :content="supporting_text" color="text-white" class="mt-2 md:mt-6"} }}
                {{ show_client ?= {partial:components/tag :label="client:title" :url="client:website" target_blank="true" } }}
                {{ show_date ?= {partial:typography/time :content="date" class="text-white mt-2 md:mt-6" } }}
            </div>
        </div>
    </div>
</div>
<!-- /layout/_hero.antlers.html -->