{{#
    @name Button attributes
    @desc A single button component. Faux is used when a button is displayed inside a link (for example in link blocks).
    @param* label The caption label.
    @param as The wrapping element. Defaults to `a`.
    @param button_type `Inline` if the button needs to be rendered as an inline button.
    @param faux Boolean. For faux button wrapped in an actual button/anchor.
    @param inverted Boolean. When the button needs inverted styles.
#}}

<!-- /components/_button.antlers.html -->
{{ if label }}
    <{{ as or 'a' }}
        {{ slot:attributes }}
        class="
            md:text-lg leading-snug focus:outline-none focus-visible:ring focus-visible:ring-offset-2
            {{ if button_type == 'inline' }}
                decoration-1 underline-offset-2 underline motion-safe:transition {{ color or 'text-black dark:text-white' }} hover:font-medium active:no-underline
                {{ inverted
                    ? 'text-white decoration-white focus-visible:ring-white'
                    : 'text-neutral decoration-neutral focus-visible:ring-primary'
                }}
            {{ elseif button_type == 'black' }}
                inline-flex items-center py-2 md:py-3 px-4 leading-none no-underline select-none whitespace-nowrap motion-safe:transition active:scale-105
                border border-neutral bg-black text-white font-medium focus-visible:ring-primary hover:border-charcoal hover:shadow-charcoal-hover
            {{ elseif button_type == 'light' }}
                inline-flex items-center py-2 md:py-3 px-4 leading-none no-underline select-none whitespace-nowrap motion-safe:transition active:scale-105
                border border-charcoal-20 bg-charcoal-20 font-medium text-neutral focus-visible:ring-primary hover:text-white hover:border-black hover:shadow-black-hover
            {{ else }}
                inline-flex items-center py-2 md:py-3 px-4 leading-none no-underline select-none whitespace-nowrap motion-safe:transition active:scale-105
                {{ inverted
                    ? 'border border-white text-white focus-visible:ring-white hover:text-black hover:shadow-white-hover'
                    : 'border border-neutral text-neutral focus-visible:ring-primary hover:text-white  {{ black_hover ? 'hover:shadow-black-hover' : 'hover:border-blue hover:shadow-blue-hover' }}'
                }}   
            {{ /if }}
            {{ class }}
        "
        {{ !faux ?= { partial:snippets/button_attributes } }}
    >
        {{ link_type == 'email' ? { label | obfuscate_email } : label }}
        {{ if show_arrow }}<span aria-hidden="true"> →</span>{{ /if }}
        {{ if extend }}<span class="inset-0 absolute"></span>{{/if}}
    </{{ as or 'a' }}>
{{ /if }}
<!-- End: /components/_button.antlers.html -->
