<div class="fluid-container">
    <div class="grid gap-6 md:grid-cols-12 relative">
        <div class="md:col-span-5">
            {{ partial:typography/h2 color="text-white" :content="cta:footer_title|widont" }}
        </div>
        <div class="md:col-start-7 md:col-span-6">
            {{ partial:typography/p :content="cta:footer_text" class="text-white/70" }}
            {{ partial:components/buttons :buttons="cta:footer_buttons" inverted="true" button_type="outline" arrow="true" class="mt-6" }}
        </div>
    </div>
</div>
