{{#
    @name Case Study
    @desc A Case Study component.
    @param class Add optional CSS classes.
#}}

<!-- /components/_case_study.antlers.html -->
<div
    class="
        dark relative aspect-[7/9] {{ size == 'wide' ? 'lg:aspect-[8/3]' : 'lg:aspect-[8/5]' }} flex flex-col justify-between {{ class }}
    "
>
    <figure class="absolute inset-0 overflow-hidden">
        {{ if size == 'wide' }}
            {{ partial
                src="statamic-peak-tools::components/picture"
                sizes="(min-width: 1280px) 100vw, (min-width: 768px) 50vw, 90vw"
                aspect_ratio="7/9 large:8/3" 
                cover="true" 
                lazy="true" 
            }}
        {{ else }}
            {{ partial
                src="statamic-peak-tools::components/picture"
                sizes="(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw"
                aspect_ratio="7/9 large:8/5"
                cover="true"
                lazy="true"
            }}
        {{ /if }} 
    </figure>
    <div aria-hidden="true" class="absolute inset-0 bg-gradient-to-b from-black/0 from-5% to-black/[85%] to-70%"></div>
    <div class="p-5 md:p-8 relative h-full flex flex-col justify-between items-start">
        {{ if experience }}
            <div class="relative">
                {{ experience }}
                    {{ partial:components/tag }}
                {{ /experience }}
            </div>
        {{ /if }}
        <div>
            <span id="{{ title | slugify }}">
                {{ partial:typography/h3 color="text-white" :content="title" }}
            </span>
            {{ if client }}
                {{ partial:typography/annotation :content="client:title" class="mt-1" }}
            {{ /if }}
            {{ products ?= {partial:components/tags :tags="products" tag_type="secondary" class="z-10 mt-5" } }}
        </div>
        
    </div>
    <a {{ partial:snippets/button_attributes }} aria-labelledby="{{ title | slugify }}" class="focus:outline-none focus-visible:ring-2 ring-offset-2 ring-primary">
        <span class="absolute inset-0"></span>
    </a>
</div>
<!-- /components/_case_study.antlers.html -->
