<div x-data x-disclosure class="border-b border-charcoal-20 py-4 {{ class }}">
    <h3 class="-my-4 flow-root">
      <button x-disclosure:button type="button"
        class="group flex w-full items-center justify-between hover:font-medium text-black py-4 px-8">
        {{ label }}
        <div :class="{ 'scale-y-[-1]': $disclosure.isOpen }" class="ml-2.5 motion-safe:transition-transform">
            {{ svg:chevron_down class="w-3 overflow-visible stroke-current group-hover:stroke-[1.5px]" aria-hidden="true" }}
        </div>
      </button>
    </h3>

    <div x-disclosure:panel x-collapse class="pt-4">
      <div class="space-y-4">
        {{ options }}
          <div class="px-8">
            <a class="p-1 -m-1 {{ if page:url == url }}text-black{{else}}text-charcoal-40 hover:text-black{{/if}} inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary" href="{{ url }}">
              <span class="flex items-center">
                  {{ if page:url == url }}
                    <span class="w-4 h-4 bg-green rounded-full mr-3"></span>
                  {{ else }}
                    <span class="w-4 h-4 border border-charcoal-40 rounded-full mr-3"></span>
                  {{/if}}
                  {{ title }}
              </span>
            </a>
          </div>
        {{ /options }}
      </div>
    </div>
</div>
