{{#
    @name Page Header
    @desc The page header component.
#}}

<!-- /components/_header.antlers.html -->
<section class="fluid-container grid md:grid-cols-12 gap-8 pt-8 md:pt-16">
    <div class="relative md:col-span-10">
        {{ partial:navigation/breadcrumbs }}
        {{ partial:typography/h1 :content="headline ?? title" class="mt-4 md:max-w-[18ch]" }}
    </div>
    {{ if show_topics }}
        <div class="md:col-span-12 flex flex-wrap gap-4">
            {{ partial:components/button_tag :selected="current_uri == '/blog'" url="/blog" label="All" }}
            
            {{ taxonomy:topics collection="blog" }}
                {{ partial:components/button_tag url="/blog/topics/{{ slug }}" :selected="page:slug == slug" :label="title" }}
            {{ /taxonomy:topics }}
        </div>
    {{ /if }}
    {{ if show_resources }}
        <div class="md:col-span-12 flex flex-wrap gap-4">
            {{ partial:components/button_tag :selected="current_uri == '/thought-leadership'" url="/thought-leadership" label="All" }}
            
            {{ taxonomy:resources }}
                {{ partial:components/button_tag url="/thought-leadership/resources/{{ slug }}" :selected="page:slug == slug" :label="title" }}
            {{ /taxonomy:resources }}
        </div>
    {{ /if }}
    {{ if show_filters }}
        <div class="md:col-span-12 flex flex-wrap gap-4">
            {{ industries = {taxonomy:industries sort="entries_count:desc" } }}
            {{ locations = {taxonomy:locations sort="entries_count:desc" } }}
            {{ products = {collection:products} }}
            {{ experiences = {collection:experiences} }}

            {{ partial:components/button_tag :selected="current_uri == '/case-studies'" url="/case-studies" label="All Work" }}
            {{ partial:components/filter label="Industry" :options="industries" class="flex-1" }}
            {{ partial:components/filter label="Location" :options="locations" class="flex-1" }}
            {{ partial:components/filter label="Products" :options="products" class="flex-1" }}
            {{ partial:components/filter label="Experience" :options="experiences" class="flex-1" }}
        </div>
    {{ /if }}
</section>
<!-- End: /components/_header.antlers.html -->
