{{#
    @name Page Header
    @desc The page header component.
#}}

<!-- /components/_header.antlers.html -->
<section class="fluid-container grid md:grid-cols-12 gap-8 {{ if bottom_margin }}py-8 md:py-16{{ else }}pt-8 md:pt-16{{/if}}">
    <div class="relative md:col-span-10 {{ if center_headline }}md:flex md:flex-col md:items-center md:text-center md:col-start-2{{/if}}">
        {{ !hide_breadcrumb && !show_title ?= { partial:navigation/breadcrumbs } }}
        {{ show_title ?= {partial:typography/p :content="title" color="text-charcoal-40"} }}

        {{ partial:typography/h1 :content="headline ?? title" class="mt-4 md:max-w-[18ch]" }}
        {{ supporting_text ?= {partial:typography/p :content="supporting_text" class="mt-2 md:mt-6 max-w-[86ch]"} }}
    </div>
</section>
<!-- End: /components/_header.antlers.html -->
