{{#
    @name Centered Hero
    @desc The centered hero component.
    @param color
#}}

<div class="relative -mt-16 pt-16 w-full {{ switch(
		(color == 'Red') => 'bg-red text-white',
		(color == 'Yellow') => 'bg-yellow text-black',
		() => 'bg-black-80 text-white'
	)}} -mb-12 md:-mb-16 lg:-mb-24">
	<div class="fluid-container py-14 md:py-20 grid md:grid-cols-12 gap-8 md:gap-y-20">
		<div class="relative md:col-start-3 md:col-span-8 text-center flex flex-col items-center">
			{{ partial:navigation/breadcrumbs color="{ switch(
				(color == 'Red') => 'text-white',
				(color == 'Yellow') => 'text-black',
				() => 'text-charcoal-40'
			)}" }}

			{{ partial:typography/h1 :content="headline" color="text-inherit" class="md:max-w-[18ch] md:mx-auto" }}
        </div>
	</div>
</div>
