{{#
    @name Centered Hero
    @desc The centered hero component.
    @param color
#}}

{{ is_inverted = switch(
	(hero_color == 'Red') => 'true',
	(hero_color == 'Charcoal') => 'true',
	(hero_color == 'Black') => 'true'
)}}

<div class="relative pt-16 md:pt-28 w-full {{ switch(
	(hero_color == 'Red') => 'bg-red text-white',
	(hero_color == 'Yellow') => 'bg-yellow text-black',
	(hero_color == 'Green') => 'bg-green text-black',
	(hero_color == 'Blue') => 'bg-blue text-black',
	(hero_color == 'Charcoal') => 'bg-charcoal text-white',
	() => 'bg-black text-white'
	)}} {{ if hero_extend }}-mb-10 md:-mb-16 lg:-mb-20{{/if}}">
	<div class="fluid-container py-14 md:py-20 grid md:grid-cols-12 gap-8 md:gap-y-20">
		<div x-data="fadeIn" x-init="hide($el.children), setTimeout(() => fadeInStagger($el), {{ text_animation_delay >= 1 ? (text_animation_delay * 1000) : '300' }})" 
		class="relative md:col-start-2 md:col-span-10 text-center flex flex-col items-center">
			{{ partial:typography/p :content="title" class="{!live_preview ?= 'opacity-0'}" color="{ switch(
				(is_inverted) => 'text-white',
				(hero_color) => 'text-black',
				() => 'text-charcoal-40'
			)}" }}

			{{ partial:typography/h1 :content="headline" color="text-inherit" class="md:mx-auto {!live_preview ?= 'opacity-0'}" }}
			{{ supporting_text ?= {partial:typography/p :content="supporting_text" color="text-inherit" class="mt-2 md:mt-6 max-w-[86ch] {!live_preview ?= 'opacity-0'}"} }}
        </div>
	</div>
</div>
