{{#
    @name Insights item
    @desc A Insights item component.
    @param class Add optional CSS classes.
#}}

<!-- /components/_insights_item.antlers.html -->
<article x-data="fadeIn()" 
x-init="hide($el)" 
x-intersect.once.margin.-200px="fadeIn($el)" class="flex flex-col {{ class }}">
    <figure class="{{ if count %2 }}aspect-[7/8]{{else}}aspect-[5/7]{{/if}} mb-4">
        {{ partial:statamic-peak-tools::components/picture :image="image" sizes="(min-width: 1280px) 430px, (min-width: 768px) 30vw, 90vw" aspect_ratio="7/8 large:5/7" lazy="true" cover="true" }}
    </figure>

    <div class="flex flex-col gap-y-2">
        <div>{{ partial:typography/time :content="date" }} &bull; Awards</div>

        <a href="{{ url }}" class="group p-1 -m-1 focus:outline-none focus-visible:ring-2 ring-primary group">
            {{ partial:typography/large :content="title" }} 
        </a>
    </div>
</article>
<!-- End: /components/_insights_item.antlers.html -->
