{{#
    @name Insights item
    @desc A Insights item component.
    @param class Add optional CSS classes.
#}}

<!-- /components/_insights_item.antlers.html -->
<article x-data="fadeIn()" 
x-init="hide($el)" 
x-intersect.once.margin.-20%="fadeIn($el)" class="group flex md:flex-col {{ class }}">
    <div class="relative mr-4 w-40 md:mr-0 md:w-full">
        {{ svg:corner-piece class="z-10 absolute top-4 right-4 opacity-0 tranform -translate-x-2 translate-y-2 group-hover:opacity-100 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-300"}}
        <figure class="aspect-[3/4] {{ count %2 ? 'md:aspect-[7/8]' : 'md:aspect-[5/7]' }} md:mb-4">
            {{ partial:statamic-peak-tools::components/picture :image="thumbnail ?? image" sizes="(min-width: 1280px) 430px, (min-width: 768px) 30vw, 90vw" aspect_ratio="3/4 { count %2 ? 'large:7/8' : 'large:5/7' }" lazy="true" cover="true" class="group-hover:opacity-50 transition-opacity duration-300" }}
        </figure>
    </div>

    <div class="flex-1 flex flex-col gap-y-2">
        <div class="flex flex-col md:flex-row md:items-center">
            {{ partial:typography/time :content="date" }} 
            <span class="hidden md:block w-1.5 h-1.5 bg-black rounded-full mx-2"></span>
            {{ collection:title }}
        </div>

        <a href="{{ url }}" class="group p-1 -m-1 focus:outline-none focus-visible:ring-2 ring-primary group">
            {{ partial:typography/large :content="title" }} 
            <span class="absolute inset-0"></span>
        </a>
    </div>
</article>
<!-- End: /components/_insights_item.antlers.html -->
