{{#
  @name Mobile Filters
  @desc The mobile filters component with filter sections.
    @param filters
#}}

<!-- /search/filters/_mobile.antlers.html -->
<div x-dialog x-model="mobileFilterOpen" class="relative z-50 lg:hidden" x-cloak @close="mobileFiltersOpen = false">  
    <div
        x-dialog:overlay 
        class="fixed inset-0 bg-black/80"
        x-transition.opacity.duration.400ms>
    </div>

    <div class="fixed inset-0 z-50 flex">
      <div
        x-dialog:panel
        x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" 
        x-transition:enter-start="translate-x-full" 
        x-transition:enter-end="translate-x-0" 
        x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" 
        x-transition:leave-start="translate-x-0" 
        x-transition:leave-end="translate-x-full" 
        class="relative ml-auto flex h-full w-full max-w-xl flex-col overflow-y-auto bg-white shadow-xl"
      >
        <div class="absolute top-0 right-0 pt-4 pr-4">
            <button type="button" @click="mobileFilterOpen = false" class="bg-gray-50 rounded-lg p-2 text-gray-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2">
                <span class="sr-only">Close Menu</span>

                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
        <form class="pb-12">
            {{ partial:components/filter_mobile label="Industry" }}
            {{ partial:components/filter_mobile label="Location" }}
            {{ partial:components/filter_mobile label="Product" }}
            {{ partial:components/filter_mobile label="Experience" }}
        </form>
      </div>
    </div>
  </div>
  <!-- End: /search/filters/_mobile.antlers.html -->