{{#
  @name Mobile Filters
  @desc The mobile filters component with filter sections.
    @param filters
#}}

<!-- /search/filters/_mobile.antlers.html -->
<div x-dialog x-model="mobileFilterOpen" class="relative z-50 lg:hidden" x-cloak @close="mobileFiltersOpen = false">  
    <div
        x-dialog:overlay 
        class="fixed inset-0 bg-black/80"
        x-transition.opacity.duration.400ms>
    </div>

    <div class="fixed inset-0 z-50 flex">
      <div
        x-dialog:panel
        x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" 
        x-transition:enter-start="translate-x-full" 
        x-transition:enter-end="translate-x-0" 
        x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" 
        x-transition:leave-start="translate-x-0" 
        x-transition:leave-end="translate-x-full" 
        class="relative ml-auto flex h-full w-full max-w-xl flex-col overflow-y-auto bg-white shadow-xl"
      >
        <div class="flex items-center justify-between py-4 px-5">
            {{ partial:typography/p content="Filters" class="font-medium" }}
            <button @click.prevent.stop="mobileFilterOpen = false" class="text-black flex items-center justify-center focus:outline-none" aria-label="Close navigation">
                <svg class="h-10 w-10 -m-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 50"> <path stroke="currentColor" d="M35.417 15.625 14.583 36.458m0-20.833 20.834 20.833"></path> </svg>
            </button>
        </div>

        <form>
            {{ partial:components/filter_mobile label="Industry" :options="industries" }}
            {{ partial:components/filter_mobile label="Location" :options="locations" }}
            {{ partial:components/filter_mobile label="Product" :options="products" }}
            {{ partial:components/filter_mobile label="Experience" :options="experiences" }}
        </form>

        <div class="fixed inset-x-0 bottom-0 ml-auto max-w-xl w-full px-5 py-4 bg-white">
            {{ partial:components/button label="Show {{ case-studies|length }} Case Studies" as="button" button_type="black" class="w-full justify-center" }}
              {{ slot:attributes }}
                @click.prevent.stop="mobileFilterOpen = false"
              {{ /slot:attributes }}
            {{ /partial:components/button }}


        </div>
      </div>
    </div>
  </div>
  <!-- End: /search/filters/_mobile.antlers.html -->