<div class="fluid-container">
    <div class="h-16 relative flex justify-between items-center">
        {{ partial:components/logo class="text-black" }}
        <button
            @click.prevent.stop="mobileNavOpen = false"
            class="absolute right-0 top-1/2 -translate-y-1/2 text-black flex items-center justify-center focus:outline-none focus-visible:ring-2 ring-primary ring-offset-2"
            aria-label="{{ trans:strings.nav_close }}"
        >
            {{ svg:close class="h-12 w-12 -mr-4" }}
        </button>
    </div>
</div>
<div class="overflow-auto flex-1 py-2 fluid-container">
        <ul class="py-12 flex flex-col space-y-2">
            {{ nav:main max_depth="3" select="title|url" }}
                <li
                    {{ if children }}
                        x-data="{ subnavOpen: false }"
                        @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
                    {{ /if }}
                    class="leading-none"
                >
                    <a
                        class="w-full py-2 flex items-center space-x-1 text-2xl leading-tight hover:font-medium text-black focus:outline-none focus-visible:ring-2 ring-primary"
                        {{ if children }}
                            href="#"
                            @click.prevent="subnavOpen = !subnavOpen"
                            @click.outside="subnavOpen = false"
                            :aria-label="subnavOpen
                                ? '{{ trans:strings.subnav_close }}'
                                : '{{ trans:strings.subnav_open }}'"
                            :aria-expanded="subnavOpen"
                        {{ else }}
                            href="{{ url }}"
                        {{ /if }}
                    >
                        <span>{{ title }}</span>
                        {{ if children }}
                            <div :class="{ 'scale-y-[-1]': subnavOpen }" class="motion-safe:transition-transform">
                                {{ svg:chevron_down class="w-3 ml-1.5 overflow-visible stroke-current text-neutral" aria-hidden="true" }}
                            </div>
                        {{ /if }}
                    </a>
                    {{ if children }}
                        <div
                            x-show="subnavOpen"
                            x-ref="subnav"
                            class="flex flex-col items-stretch space-y-6 py-2 pl-6"
                            x-collapse
                        >
                            {{ children }}
                                <div>
                                    {{ partial:typography/p id="{{ title|slugify }}-heading" :content="title" }}
                                    <ul role="list" aria-labelledby="{{ title|slugify }}-heading" class="mt-4 space-y-4">
                                        {{ children }}
                                        <li class="flex">
                                            <a href="#" class="text-charcoal hover:font-medium">{{ title }}</a>
                                        </li>
                                        {{ /children }}
                                    </ul>
                                </div>
                            {{ /children }}
                            </div>
                    {{ /if }}
                </li>
            {{ /nav:main }}
            {{ nav:utility max_depth="1" select="title|url" }}
                <li
                    class="leading-none"
                >
                    <a
                    class="w-full py-2 flex items-center space-x-1 text-2xl leading-tight hover:font-medium text-black focus:outline-none focus-visible:ring-2 ring-primary"
                        href="{{ url }}"
                    >
                        <span>{{ title }}</span>
                    </a>
                </li>
            {{ /nav:utility }}
        </ul> 
        <div class="border-t border-black py-4 mt-4">
            {{ partial:components/social_media large="true" color="text-black hover:text-black/60"}}
            <a href="mailto:{{ email | obfuscate_email }}" class="mt-4 inline-block px-1 -mx-1 text-lg leading-snug hover:font-medium focus:outline-none focus-visible:ring-2 ring-primary motion-safe:transition-colors">
                {{configuration:email | obfuscate_email}}
            </a>
        </div>
</div>

