{{#
    @name Notification
    @desc The notification component. Currently used in `resources/views/page_builder/_form.antlers.html`.
    @param* content The notification content.
    @param* type The type of notification: `success`, `notice`, or `error`.
    @param class Add custom CSS classes.
#}}

<!-- /components/_notification.antlers.html -->
<div
    class="
        p-4
        {{ switch(
            (type == 'success') => 'bg-green',
            (type == 'notice') => 'bg-yellow',
            (type == 'error') => 'bg-red',
            () => 'bg-black'
        )}}
        {{ class }}
    "
    {{ slot:attributes }}
>
    <div class="flex">
        <div class="shrink-0">
            {{ svg
                :src="type"
                alt=""
                aria-hidden="true"
                class="
                    h-5 w-5 stroke-current motion-safe:transition-colors
                    { switch(
                        (type == 'success') => 'text-white',
                        (type == 'notice') => 'text-black',
                        (type == 'error') => 'text-white',
                        () => 'text-white'
                    )}
                "
            }}
        </div>
        <div class="ml-3">
            <h3
                class="
                    text-base font-medium
                    {{ switch(
                        (type == 'success') => 'text-white',
                        (type == 'notice') => 'text-black',
                        (type == 'error') => 'text-white',
                        () => 'text-charcoal'
                    )}}
                "
            >
                {{ content|widont }}
            </h3>
        </div>
    </div>
</div>
<!-- End: /components/_notification.antlers.html -->
