{{#
    @name Products Carousel
    @desc The Products Carousel page builder block.
    @set page.page_builder.products_carousel
#}}

<!-- /page_builder/_products_carousel.antlers.html -->
<section ax-load x-data="productsCarousel" class="overflow-hidden">
    <div class="fluid-container">
        {{ if title }}
        <div class="grid md:grid-cols-12 gap-8 md:col-span-12">
            {{ partial:typography/h2 :content="title" class="md:col-span-5" }}
            <div class="md:col-start-7 md:col-span-6">
                {{ partial:typography/p :content="text"}}
                {{ partial:components/buttons :buttons="buttons" class="mt-6" }}
            </div>
        </div>
        {{/if}}

        <div class="mt-10 md:mt-20 pb-14">   
            <div class="hidden md:block">
                <div class="swiper !pb-14" x-ref="container">
                    <div class="swiper-wrapper">
                        {{ products scope="custom" }}
                            <div class="swiper-slide !h-auto">
                                <div class="relative h-full border border-charcoal-40 px-10 py-8 flex flex-col justify-between items-start no-underline focus:outline-none focus-visible:ring-2 ring-offset-2 ring-primary"
                                >
                                    {{ partial:typography/large class="font-medium mb-4" :content="custom:title ?? product:title" }}
                                    {{ if product }}
                                        {{ partial:components/button button_type="inline" as="span" label="{trans:strings.learn_more}" faux="true" }}
                                        <a href="{{ product:url }}" class="absolute inset-0"></a>
                                    {{ /if }}
                                </div>
                            </div>
                        {{ /products }}
                    </div>
        
                    <!-- If we need pagination -->
                    <div class="swiper-pagination !text-left absolute !bottom-0"></div>
                </div>
            </div>
            <div class="md:hidden space-y-6">
                {{ products scope="custom" }}
                <div class="relative border border-charcoal-40 px-10 py-8 flex flex-col justify-between items-start no-underline focus:outline-none focus-visible:ring-2 ring-offset-2 ring-primary">
                    {{ partial:typography/large class="font-medium mb-4" :content="custom:title ?? product:title" }}
                    {{ if product:url }}
                        {{ partial:components/button button_type="inline" as="span" label="{trans:strings.learn_more}" faux="true" }}
                        <a href="{{ product:url }}" class="absolute inset-0"></a>
                    {{ /if }}
                </div>
                {{ /products }}
            </div>
        </div>
    </div>
</section>
<!-- End: /page_builder/_link_blocks_carousel.antlers.html -->
