<figure
    x-data="{ animation: '' }"
    x-init="
        animation = lottie.loadAnimation({
            container: $el,
            renderer: 'svg',
            autoplay: false,
            loop: false,
            path: '{{ animation }}'
        }),
        create({
            mode: 'scroll',
            player: animation,
            container: '.animation-container-class',
            actions: [
                {
                    visibility: [0, 0.25],
                    type: 'seek',
                    frames: [0, 29],
                },
                {
                    visibility: [0.26, 0.5],
                    type: 'seek',
                    frames: [28, 0], // Reverse animation
                },
                {
                    visibility: [0.51, 0.75],
                    type: 'seek',
                    frames: [1, 29],
                },
                {
                    visibility: [0.76, 1],
                    type: 'seek',
                    frames: [28, 0], // Reverse animation
                },
            ],
        })
"
class="{{ class }}"
aria-hidden="true"
>
</figure>