{{#
    @name Products Drive Thru
    @desc The Products Drive Thur page builder block.
    @set page.page_builder.products_drive_thru
#}}

<!-- /page_builder/_products_drive_thru.antlers.html -->
<section ax-load x-data="productsDriveThru"
class="w-full">
        {{ if title }}
        <div class="py-10 md:py-16 lg:py-20 bg-charcoal-10">
            <div class="fluid-container grid md:grid-cols-12 gap-8 md:col-span-12">
                {{ partial:typography/h2 :content="title" class="md:col-span-6" }}
                <div class="md:col-span-6">
                    {{ partial:typography/p :content="text"}}
                    {{ partial:components/buttons :buttons="buttons" class="mt-6" }}
                </div>
            </div>
        </div>
        {{/if}}

        <div class="overflow-hidden">
            <figure class="h-80 md:h-[514px] relative flex items-center justify-center">
                <img src="{{ block:image }}" alt="" 
                class="max-w-none h-full transition origin-left duration-1000 transform translate-x-[26%] -translate-y-[5%] scale-[1.75]"
                aria-hidden="true" loading="lazy"
                :class="{ 
                'translate-x-[26%] -translate-y-[5%] scale-[1.75]': activeSlide == 0, {{# Pre-Sell Displays #}}
                '-translate-x-[27%] -translate-y-[17%] scale-[2]': activeSlide == 1, {{# Order Confirmation Units #}}
                '-translate-x-[18%] -translate-y-[5%] scale-[1.5]': activeSlide == 2, {{# Outdoor DMB #}}
                '-translate-y-[16%] -translate-x-[72%] scale-[1.75]': activeSlide == 3, {{# Order Confirmation Screens #}}
                '-translate-x-[49%] scale-[1.25] ': activeSlide == 4, {{# Crew Facing Screens #}}
                }"
                >
            </figure>

            <div class="fluid-container mt-8 md:mt-16 md:grid md:grid-cols-12"> 
                <div class="md:col-span-8 md:col-start-3 xl:col-span-6 xl:col-start-4">
                    <div class="swiper" x-ref="container">
                        <!-- If we need navigation buttons -->
                        <div class="w-full flex justify-center gap-16 mb-8 lg:mb-0">
                            <div class="swiper-prev transition lg:absolute lg:top-1/2 lg:-translate-y-3/4 lg:left-0">
                                <div class="p-3" :class="{ 'animate-bob': activeSlide == 5 }">
                                    {{ svg:chevron-big-left class="w-8 h-8" }}
                                </div>
                            </div>
                            <div class="swiper-next transition lg:absolute lg:top-1/2 lg:-translate-y-3/4 lg:right-0">
                                <div class="p-3" :class="{ 'animate-bob': activeSlide < 5 }">
                                    {{ svg:chevron-big-right class="w-8 h-8" }}
                                </div>
                            </div>
                        </div>
                        <div class="swiper-wrapper">
                            {{ products scope="custom" }}
                                <div class="swiper-slide">
                                    <div class="relative text-center lg:px-12"
                                    >
                                        {{ partial:typography/large class="font-medium mb-4 mx-auto" :content="custom:title ?? product:title" }}
                                        {{ partial:typography/p class="mb-4 lg:max-w-md lg:mx-auto" :content="custom:text ?? product:text" }}
                                        {{ if product:url }}
                                            {{ partial:components/button :url="product:url" button_type="inline" label="{trans:strings.learn_more}" class="mx-auto" }}
                                        {{ /if }}
                                    </div>
                                </div>
                            {{ /products }}
                        </div>
            
                        
                    </div>
                </div> 
            </div>
        </div>
</section>
<!-- End: /page_builder/_products_drive_thru.antlers.html -->
