{{#
    @name Pull quote
    @desc The pull quote component. A pull quote with an optional author.
    @set page.article.pull_quote
#}}

<!-- /components/_pull_quote.antlers.html -->
<figure
    class="
        not-prose
        space-y-4 py-8
        {{ switch(
            (size == 'sm') => 'size-sm',
            (size == 'md') => 'size-md',
            (size == 'lg') => 'size-lg',
            () => 'size-md'
        )}}
    "
>
    {{ partial:typography/large as="blockquote" class="font-medium" content="<span class='text-black'>&OpenCurlyDoubleQuote;</span>{quote | nl2br | widont}<span class='text-black'>&CloseCurlyDoubleQuote;</span>" }}

    {{ if author }}
        <figcaption class="block">
            {{ partial:typography/p content="<span class='text-black'>- </span>{author}" class="font-medium" color="text-black" }}
        </figcaption>
    {{ /if }}
</figure>
<!-- End: /components/_pull_quote.antlers.html -->
