{{#
    @name Social Media navigation
    @desc The sites social navigation rendered on each page.
#}}

<!-- /navigation/_social_media.antlers.html -->
{{ if social_media:social_media }}
    <div class="flex space-x-2">
        {{ social_media:social_media }}
            <a class="p-1 -m-1 text-white/75 hover:text-white focus:outline-none focus-visible:ring-2 ring-primary" href="{{ prefix }}{{ handle }}" rel="noopener{{ type == 'mastodon' ?= ' me' }}" aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}" target="_blank">{{ svg :src="type" class="w-3 h-3 overflow-visible fill-current" alt="" aria-hidden="true" }}</a>
        {{ /social_media:social_media }}
    </div>
{{ /if }}
<!-- /navigation/_social_media.antlers.html -->
