<div class="relative bg-white">
    <div class="fluid-container">
      <div class="grid grid-cols-12 gap-4 xl:gap-8 py-14">
        <div class="col-span-8 xl:col-start-2 xl:col-span-7 grid grid-cols-3 gap-4 xl:gap-8 pr-6">
          {{ children }}
          <div>
              {{ if url }}<a href="{{ url }}">{{ /if }}
                  {{ partial:typography/p id="{{ title|slugify }}-heading" :content="title" color="text-black" class="font-medium" }}
              {{ if url }}</a>{{/if}}
              <ul role="list" aria-labelledby="{{ title|slugify }}-heading" class="mt-4 space-y-4">
                {{ children }}
                <li class="flex">
                    <a href="{{ url }}" class="text-charcoal hover:font-medium active:underline active:underline-offset-1">{{ title }}</a>
                </li>
                {{ /children }}
              </ul>
            </div>
          {{ /children }}
        </div>
        <div class="col-span-4 xl:col-span-3">
          <div class="bg-black-10 px-10 py-8">
              {{ partial:typography/p as="h3" class="font-medium" :content="cta:nav_title" color="text-black" }}
              {{ partial:typography/p class="mt-2" :content="cta:nav_text" color="text-black" }}
              {{ partial:components/buttons :buttons="cta:nav_buttons" class="mt-2" color="text-black" }}
          </div>
        </div>
      </div>
    </div>
  </div>