{{#
    @name Tabs
#}}

<!-- /components/_tabs.antlers.html -->
<div class="border-charcoal-20 h-[4.5rem] border-t border-b flex justify-start items-center">
    <div class="pr-12">
        {{ partial:typography/large content="Experiences"}}
    </div>
    <div class="border-r border-chacoal-20 h-1/2"></div>
    <nav class="overflow-auto h-full flex items-center pl-12">
        <ul class="flex items-center space-x-8">
            {{ nav:main max_depth="1" select="title|url" }}
                <li class="relative leading-none shrink-0">
                    {{ if first }}
                    <a class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary" href="{{ url }}" data-text="{{ title }}">
                        <span class="flex">
                            {{ if first }}<span class="w-4 h-4 bg-green rounded-full mr-3"></span>{{/if}}
                            {{ title }}
                        </span>
                    </a>
                    {{ else }}
                    <a class="p-1 -m-1 text-charcoal-40 hover:text-black inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary" href="{{ url }}" data-text="{{ title }}">
                        <span class="flex">
                            {{ if first }}<span class="w-4 h-4 bg-green rounded-full mr-3"></span>{{/if}}
                            {{ title }}
                        </span>
                    </a>
                    {{ /if }}
                </li>
            {{ /nav:main }}
        </ul>
    </nav>
</div>
<!-- /components/_tabs.antlers.html -->