{{#
    @name Video
    @desc The video component. A sizeable YouTube or Vimeo video rendered in a responsive container with an optional caption.
    @set page.article.video
#}}

<!-- /components/_video.antlers.html -->
<div
    x-data="{ 
        init() {
            const player = new Plyr(this.$refs.player, {
                ratio: '9:5',
                hideControls: false,
                keyboard: {
                global: true,
                },
                tooltips: {
                controls: true,
                },
                captions: {
                active: true,
                },
            });

            player.toggleControls(false);

            player.on('play', event => {
                player.toggleControls(true);
            });
        }
    }" 
    class="
        not-prose
        {{ switch(
            (size == 'sm') => 'size-sm',
            (size == 'md') => 'size-md',
            (size == 'lg') => 'size-lg',
            () => 'size-md'
        )}}  py-8
    "
>
    <div class="border">
        <div x-ref="player" class="relative aspect-video">
            <iframe class="absolute top-0 left-0 w-full h-full" width="100%" src="{{ video_url | embed_url }}" height="auto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    {{ partial:typography/caption class="mt-4 md:mt-6" }}
</div>
<!-- End: /components/_video.antlers.html -->

{{ once }}
{{ push:styles }}
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css" />
{{ /push:styles }}

{{ push:scripts }}
<script defer src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
{{ /push:scripts }}
{{ /once }}
