{{#
    @name Default
    @desc The default template with an outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /default.antlers.html -->
{{ enable_hero ? {partial:layout/hero} : {partial:components/header} }}

<main class="outer-grid" id="content">
    {{ {enable_hero && hero_extend && hero_type == 'brand'} ?= { partial:components/hero_extend :color="hero_color:label" } }}

    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
<!-- End: /default.antlers.html -->
