{{#
    @name Layout
    @desc The default layout file.
#}}

<!-- /layout.antlers.html -->
<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <link rel="alternate" type="application/rss+xml" title="Insights Feed" href="{{ config:app:url }}/feed/insights"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        {{ livewire:styles }}
        {{ stack:theme }}
        {{ stack:styles }}
        {{ partial:statamic-peak-seo::snippets/seo }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
        {{ if environment == 'staging' }}
        <script>
            window.markerConfig = {
              project: '64e2bc06819b89252e012158', 
              source: 'snippet'
            };
          </script>
          
          <script>
          !function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
          </script>
        {{ /if }}          
    </head>
    <body class="flex flex-col min-h-screen bg-white text-black font-light selection:bg-primary selection:text-white">
        {{ partial:statamic-peak-tools::snippets/noscript }}
        {{ partial:statamic-peak-tools::navigation/skip_to_content }}
        {{ partial:statamic-peak-tools::components/toolbar }}
        {{ stack:seo_body }}

        {{ partial:layout/header :hero_color="hero_color:label" }}
        {{ template_content }}
        {{ partial:layout/footer }}
        {{ yield:modal }}
        {{ yield:slideover }}
        {{ livewire:scripts }}
        {{ stack:scripts }}
    </body>
</html>
<!-- End: /layout.antlers.html -->
