{{#
    @name Layout
    @desc The default layout file.
#}}

<!-- /layout.antlers.html -->
<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <link rel="alternate" type="application/rss+xml" title="Insights Feed" href="{{ config:app:url }}/feed/insights"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        {{ stack:theme }}
        {{ partial:statamic-peak-seo::snippets/seo }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
    </head>
    <body class="flex flex-col min-h-screen bg-white text-black font-light selection:bg-primary selection:text-white">
        {{ partial:statamic-peak-tools::snippets/noscript }}
        {{ partial:statamic-peak-tools::navigation/skip_to_content }}
        {{ partial:statamic-peak-tools::components/toolbar }}
        {{ yield:seo_body }}

        {{ partial:layout/header :hero_color="hero_color:label" }}
        {{ template_content }}
        {{ partial:layout/footer }}
        {{ yield:modal }}
        {{ yield:slideover }}
    </body>
</html>
<!-- End: /layout.antlers.html -->
