{{#
    @name Design System Layout
    @desc The design system layout file.
#}}

<!-- /design_system/layout.antlers.html -->
<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
    </head>
    <body class="min-h-screen bg-white font-light text-black">
        {{ partial:statamic-peak-tools::snippets/noscript }}
        {{ partial:statamic-peak-tools::navigation/skip_to_content }}
        {{ partial:statamic-peak-tools::components/toolbar }}

        <div x-data="{ 
          component: null, 
          open: false,
          makeTitle(slug) {
              var words = slug.split('-');
            
              for (var i = 0; i < words.length; i++) {
                var word = words[i];
                words[i] = word.charAt(0).toUpperCase() + word.slice(1);
              }
            
              return words.join(' ');
            } 
          }" x-init="
          if(window.location.hash) {
              component = window.location.hash.substring(1);
          } else {
              component = 'typography';
          }
          " @keydown.window.escape="open = false">
            
          <div x-show="open" class="relative z-50 lg:hidden" x-ref="dialog" aria-modal="true" style="display: none;">
            
              <div x-show="open" x-transition:enter="transition-opacity ease-linear duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="fixed inset-0 bg-gray-900/80" x-description="Off-canvas menu backdrop, show/hide based on off-canvas menu state." style="display: none;"></div>
            
      
            <div class="fixed inset-0 flex">
              
                <div x-show="open" x-transition:enter="transition ease-in-out duration-300 transform" x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transition ease-in-out duration-300 transform" x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full" x-description="Off-canvas menu, show/hide based on off-canvas menu state." class="relative mr-16 flex w-full max-w-xs flex-1" @click.away="open = false" style="display: none;">
                  
                    <div x-show="open" x-transition:enter="ease-in-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in-out duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-description="Close button, show/hide based on off-canvas menu state." class="absolute left-full top-0 flex w-16 justify-center pt-5" style="display: none;">
                      <button type="button" class="-m-2.5 p-2.5" @click="open = false">
                        <span class="sr-only">Close sidebar</span>
                        {{ svg:close class="h-6 w-6 text-white"}}
                      </button>
                    </div>
                  
                  {{ partial:design_system/sidebar }}
                </div>
              
            </div>
          </div>
        
      
        <!-- Static sidebar for desktop -->
        <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
          {{ partial:design_system/sidebar class="border-r border-gray-200" }}
        </div>
      
        <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-white px-4 py-4 shadow-sm sm:px-6 lg:hidden">
          <button type="button" class="-m-2.5 p-2.5 text-black lg:hidden" @click="open = true">
            <span class="sr-only">Open sidebar</span>
            {{ svg:menu class="h-6 w-6" }}
          </button>
          <div x-text="makeTitle(component)" class="flex-1 text-sm font-semibold leading-6 text-gray-900"></div>
        </div>
      
        {{ template_content }}
      </div>
        
    </body>
</html>
<!-- End: /design_system/layout.antlers.html -->