{{#
    @name Insights archive
    @desc The Insights archive template.
#}}

{{ enable_hero ? {partial:layout/hero} : {partial:components/header :hero_color="hero_color:label"} }}

<!-- /insights/archive.antlers.html -->
<main class="outer-grid" id="content">
    {{ {enable_hero && hero_extend} ?= { partial:components/hero_extend :hero_color="hero_color:label" } }}
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
<!-- End: /insights/archive.antlers.html -->

{{ section:index_content }}
    <!-- /insights/archive.antlers.html -->
    <section class="fluid-container">
        <div class="grid md:grid-cols-12">
            {{ collection :from="mount" sort="date:desc" paginate="true" limit="99" as="items" redirects="true" }}
                {{ unless no_results }}
                    <div class="md:col-span-12 grid supports-[grid-template-rows:masonry]:grid-rows-[masonry] md:grid-cols-12 gap-8" data-columns="4">
                    {{ items }}
                        {{ partial:components/article_item class="md:col-span-3" }}
                    {{ /items }}
                    </div>
                {{ else }}
                    <div class="md:col-span-6">
                        {{ trans:strings.no_results }}
                    </div>
                {{ /unless }}
    
                {{ partial:statamic-peak-tools::components/pagination class="md:col-span-12" }}
            {{ /collection }}
        </div>
    </section>
    <!-- End: /insights/archive.antlers.html -->
{{ /section:index_content }}