{{#
    @name Insights index
    @desc The Insights index template.
#}}

{{ enable_hero ? {partial:layout/hero} : {partial:components/header :hero_color="hero_color:label"} }}

<!-- /insights/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ {enable_hero && hero_extend} ?= { partial:components/hero_extend :hero_color="hero_color:label" } }}
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
<!-- End: /insights/index.antlers.html -->
