{{#
    @name Insights index
    @desc The Insights index template.
#}}

<!-- /insights/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
<!-- End: /insights/index.antlers.html -->

{{ section:index_content }}
    <!-- /insights/index.antlers.html -->
    <div class="fluid-container self-start grid md:grid-cols-12 gap-8">
        {{ partial:navigation/breadcrumbs class="md:col-span-12" }}
        {{ partial:typography/h1 :content="title" class="md:col-span-12" }}
        {{ collection:insights sort="date:desc" paginate="true" limit="12" as="items" }}
            {{ unless no_results }}
                {{ items }}
                    {{ partial:components/insights_item class="md:col-span-4" }}
                {{ /items }}
            {{ else }}
                <div class="md:col-span-6">
                    {{ trans:strings.no_results }}
                </div>
            {{ /unless }}

            {{ partial:statamic-peak-tools::components/pagination class="md:col-span-12" }}
        {{ /collection:insights }}
    </div>
    <!-- End: /insights/index.antlers.html -->
{{ /section:index_content }}
