{{#
    @name Insights show
    @desc The Insights show template.
#}}

<!-- /insights/show.antlers.html -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ permalink }}"
        },
        "headline": "{{ title }}",
        "image": "{{ config:app:url }}{{ image }}",
        "datePublished": "{{ date format="Y-m-d\TH:i:s" }}",
        "author": {
            "@type": "Organization",
            "name": "{{ config:app:name }}",
            "url": "{{ config:app:url }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ config:app:name }}"{{ if seo:organization_logo }},
            "logo": {
                "@type": "ImageObject",
                "url": "{{ config:app:url }}{{ glide:seo:organization_logo width='336' height='336' fit='contain' }}"
            }{{ /if }}
        }
    }
</script>

{{ partial:layout/hero }}
{{ partial:components/share }}
<main class="outer-grid" id="content">

    <section class="fluid-container grid grid-cols-12">
        {{ partial:typography/prose as="article" class="contents" }}
            {{ article }}
                {{ partial src="components/{type}" }}
            {{ /article }}
        {{ /partial:typography/prose }}
    </section>

    {{ collection:next in="blog" sort="date:asc" limit="2" as="items" redirects="true" }}
        {{ unless no_results }}
            <section class="w-full bg-charcoal-10 py-16 md:py-24">
                <div class="fluid-container grid md:grid-cols-12 gap-8">
                    {{ partial:typography/h2 content="{ trans:strings.insights_next }" class="md:col-span-12" }}
    
                    {{ items }}
                        {{ partial:components/article_item class="md:col-span-6" }}
                    {{ /items }}
                </div>
            </section>
            
        {{ /unless }}
    {{ /collection:next }}
</main>
<!-- /insights/show.antlers.html -->
