{{#
  @name Footer
  @desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="bg-primary-900 pt-16 pb-8" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="fluid-container pb-8">
      <div class="grid grid-cols-2 gap-8 xl:grid-cols-5">
        <div>
            {{ partial:components/logo width="120" }}

            {{ if social_media:social_media }}
                <div class="flex space-x-2">
                {{ social_media:social_media }}
                    <a
                    class="h-6 w-6 rounded-full flex items-center justify-center bg-primary-300 hover:bg-primary-100 text-primary-900"
                    href="{{ prefix }}{{ handle }}"
                    rel="noopener"
                    aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
                    target="_blank"
                    >
                    {{ svg :src="type" alt="" aria-hidden="true" class="h-3 w-3 fill-current" }}
                    </a>
                {{ /social_media:social_media }}
                </div>
            {{ /if }}

            <a href="mailto:{{ email | obfuscate_email }}" class="px-1 -mx-1 text-sm underline rounded hover:text-primary focus:outline-none focus-visible:ring-2 ring-primary motion-safe:transition-colors">
                {{configuration:email | obfuscate_email}}
            </a>
        </div>
        {{ nav:footer max_depth="2" select="title|url|nav_taxonomy" }}
          <div>
            <h3 class="text-xs font-bold leading-6 tracking-wide uppercase text-primary-300">{{ title }}</h3>
            <ul role="list" class="mt-3 space-y-1.5">
              {{ if nav_taxonomy }}
                {{ taxonomy :from="nav_taxonomy" sort="entries:count:desc" limit="6" }}
                  <li>
                    <a href="{{ url }}" class="text-sm font-medium leading-6 text-primary-100 hover:text-white hover:underline">{{ title }}</a>
                  </li>
                {{ /taxonomy }}
              {{ else }}
                {{ children }}
                  <li>
                    <a href="{{ url }}" class="text-sm font-medium leading-6 text-primary-100 hover:text-white hover:underline">{{ title }}</a>
                  </li>
                {{ /children }}
              {{ /if }}
            </ul>
          </div>
        {{ /nav:footer }}
      </div>
      <div class="mt-8 border-t border-primary-800 pt-8 md:flex md:items-center md:justify-between">
        <div class="text-xs leading-5 text-primary-200">
          <p>
            &copy; {{ configuration:copyright_since }}
            {{ unless (now | format('Y')) == configuration:copyright_since }}
              - {{ now | format('Y') }}
            {{ /unless }}
            {{ configuration:copyright_name ?? config:app:name }}
          </p>
        </div>
        <div class="text-xs">
        {{ configuration:privacy_statement_entry }}
            <a class="px-1 -mx-1 underline rounded hover:text-primary focus:outline-none focus-visible:ring-2 ring-primary motion-safe:transition-colors" href="{{ url }}">{{ title }}</a>
          {{ /configuration:privacy_statement_entry }}
          
          {{# Let's users reset their cookie consent when you use the cookie banner. #}}
          {{ yield:reset_cookie_consent }}
        </div>
      </div>
    </div>
  </footer>
  <!-- End: /layout/_footer.antlers.html -->
  