{{#
  @name Footer
  @desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="bg-black-80 text-white/75 pt-16 pb-8" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    {{ partial:components/call_to_action }}
    <div class="fluid-container mt-12 md:mt-16 pb-8">
      <nav class="grid md:grid-cols-4 gap-8 xl:grid-cols-5">
        {{ partial:navigation/footer_mobile }}
        {{ partial:navigation/footer_desktop }}
        <div class="md:col-span-4 xl:col-span-1 xl:-order-1">
            {{ partial:components/logo width="120" inverse="true" class="inline-block" }}
    
            {{ if social_media:social_media }}
                <div class="mt-3 flex space-x-2">
                {{ social_media:social_media }}
                    <a
                    class="h-6 w-6 rounded-full flex items-center justify-center text-white/75"
                    href="{{ prefix }}{{ handle }}"
                    rel="noopener"
                    aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
                    target="_blank"
                    >
                    {{ svg :src="type" alt="" aria-hidden="true" class="h-3 w-3 fill-current" }}
                    </a>
                {{ /social_media:social_media }}
                </div>
            {{ /if }}
    
            <a href="mailto:{{ email | obfuscate_email }}" class="px-1 -mx-1 text-sm underline rounded hover:text-white focus:outline-none focus-visible:ring-2 ring-primary motion-safe:transition-colors">
                {{configuration:email | obfuscate_email}}
            </a>
        </div>
      </nav>
      <div class="mt-8 border-t border-white/25 pt-8 flex flex-col items-center md:flex-row">
        <div class="text-xs leading-5 md:order-2 md:ml-3">
          {{ configuration:privacy_statement_entry }}
              <a class="px-1 -mx-1 underline rounded hover:text-white focus:outline-none focus-visible:ring-2 ring-primary motion-safe:transition-colors" href="{{ url }}">{{ title }}</a>
            {{ /configuration:privacy_statement_entry }}
            
            {{# Let's users reset their cookie consent when you use the cookie banner. #}}
            {{ yield:reset_cookie_consent }}
        </div>
        <div class="mt-2 md:mt-0 text-xs leading-5">
          <p>
            &copy; {{ configuration:copyright_since }}
            {{ unless (now | format('Y')) == configuration:copyright_since }}
              - {{ now | format('Y') }}
            {{ /unless }}
            {{ configuration:copyright_name ?? config:app:name }}
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End: /layout/_footer.antlers.html -->
  