{{#
  @name Footer
  @desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="bg-black text-white pt-16 pb-8" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="fluid-container">
        <div class="grid gap-6 md:grid-cols-12 relative">
            <div class="md:col-span-5">
                {{ partial:typography/h2 color="text-white" :content="cta:footer_title|widont" }}
            </div>
            <div class="md:col-start-7 md:col-span-6">
                {{ partial:typography/p :content="cta:footer_text" class="text-white" }}
                {{ partial:components/buttons :buttons="cta:footer_buttons" inverted="true" class="mt-6" }}
            </div>
        </div>
    </div>
  
    <div class="fluid-container mt-12 md:mt-16 pb-8">
      <nav class="grid md:grid-cols-4 gap-8 xl:grid-cols-5">
        {{ partial:navigation/footer_mobile }}
        {{ partial:navigation/footer_desktop }}
        <div class="flex flex-col items-center md:items-start md:col-span-4 xl:col-span-1 xl:-order-1">
            {{ partial:components/logo size="h-12" class="text-white" }}
          
            {{ partial:components/social_media class="mt-6" }}
        </div>
      </nav>
      <div class="mt-14 border-t border-charcoal pt-6 flex flex-col items-center md:flex-row md:justify-center">
        <div>
          <p class="text-charcoal-40">
            &copy; 
            {{ configuration:copyright_name ?? config:app:name }}, {{ configuration:copyright_since }} {{ unless (now | format('Y')) == configuration:copyright_since }} - {{ now | format('Y') }}{{ /unless }}
          </p>
        </div>
        <div class="shrink-0 mt-2 md:mt-0 md:ml-3">
          {{ configuration:privacy_statement_entry }}
              <a class="px-1 -mx-1 rounded text-charcoal-40 hover:text-white focus:outline-none focus-visible:ring-2 ring-primary motion-safe:transition-colors" href="{{ url }}">{{ title }}</a>
            {{ /configuration:privacy_statement_entry }}
            
            {{# Let's users reset their cookie consent when you use the cookie banner. #}}
            {{ yield:reset_consent }}
        </div>
      </div>
    </div>
  </footer>
  <!-- End: /layout/_footer.antlers.html -->
  