{{#
    @name Header
    @desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->

{{ dark_header = switch(
    (hero_type == 'product' && enable_hero) => 'true',
    (hero_type == 'case-study') => 'true',
    (hero_type == 'image') => 'true',
    (hero_type == 'video') => 'true',
    (hero_color == 'Charcoal') => 'true',
)}}

<header 
    x-data="{ isTop: true, isHidden: false, lastPos: 0 }" 
    @scroll.window="
        isTop = window.pageYOffset < $el.offsetHeight;
        // Determine if the header should be hidden or shown
        isHidden = window.pageYOffset > lastPos;
        // Update the last scroll position, ensuring it's not negative
        lastPos = window.pageYOffset >= 0 ? window.pageYOffset : 0;"
    {{ unless disable_fixed_nav }}
    x-show="!isHidden"
    x-transition:enter="transition duration-500 transform ease-in-out"
    x-transition:enter-start="-translate-y-full"
    x-transition:enter-end="translate-y-0"
    x-transition:leave="transition duration-500 transform ease-in-out"
    x-transition:leave-start="translate-y-0"
    x-transition:leave-end="-translate-y-full"
    {{ /unless }}
    class="{{ disable_fixed_nav ? 'absolute' : 'fixed' }} top-0 z-10 w-full {{ class }}">
    <div class="hidden md:block {{ switch(
		(hero_color == 'Yellow') => 'bg-green',
        (hero_color == 'Red') => 'bg-green',
        () => 'bg-blue',
	)}} dark py-3">
        <div class="fluid-container flex justify-between items-center">
            {{ partial:components/social_media }}
            {{ partial:navigation/utility }}
        </div>
    </div>
    <div 
        {{ if hero_type != 'article' && hero_type != 'case-study' && hero_type != 'product'  }}
        :class="{ '{{ dark_header ? 'bg-opacity-0' : 'bg-opacity-100' }}': isTop, 'bg-opacity-95': !isTop }" 
        {{ /if }}
        class="{{ switch(
        (dark_header && hero_type === 'product') => 'bg-black bg-opacity-95 dark',
        (dark_header && hero_type === 'case-study') => 'bg-black bg-opacity-95 dark',
        (dark_header) => 'bg-black bg-opacity-0 dark',
        (background) => background,
        () => 'bg-white bg-opacity-100',
    )}} transition duration-500">
        <div class="h-16 fluid-container flex justify-between items-center">
            {{# Make partials you want to use for the header or use and edit premade examples like the following ones. #}}
            {{ partial:components/logo class="text-black dark:text-white" }}
            {{ partial:navigation/main }}
        </div>
    </div>
</header>
<!-- End: /layout/_header.antlers.html -->