{{#
    @name Header
    @desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->
<header class="relative z-10 w-full">
    <div class="hidden md:block bg-black-90 dark py-1">
        <div class="fluid-container flex justify-between items-center">
            {{ partial:components/social_media }}
            {{ partial:navigation/utility }}
        </div>
    </div>
    <div class="{{ background ?? 'bg-transparent' }}">
        <div class="h-16 fluid-container flex justify-between items-center">
            {{# Make partials you want to use for the header or use and edit premade examples like the following ones. #}}
            {{ partial:components/logo width="136" }}
            {{ partial:navigation/main }}
        </div>
    </div>
</header>
<!-- End: /layout/_header.antlers.html -->
