{{#
    @name Header
    @desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->
<header class="relative z-10 w-full {{ class }}">
    <div class="hidden md:block {{ switch(
		(hero_color == 'Yellow') => 'bg-green',
        (hero_color == 'Red') => 'bg-green',
        () => 'bg-blue',
	)}} dark py-3">
        <div class="fluid-container flex justify-between items-center">
            {{ partial:components/social_media }}
            {{ partial:navigation/utility }}
        </div>
    </div>
    <div class="{{ switch(
		(hero_color == 'Red') => 'bg-white',
		(hero_color == 'Yellow') => 'bg-white',
        (hero_color == 'Red') => 'bg-white',
        (hero_color == 'Green') => 'bg-white',
        (hero_color == 'Blue') => 'bg-white',
        (hero_type == 'article') => 'bg-white',
        (hero_type == 'product') => 'bg-black dark',
        (enable_hero) => 'bg-transparent dark',
        (background) => background,
        () => 'bg-transparent',
	)}}">
        <div class="h-16 fluid-container flex justify-center md:justify-between items-center">
            {{# Make partials you want to use for the header or use and edit premade examples like the following ones. #}}
            {{ partial:components/logo class="text-black dark:text-white" }}
            {{ partial:navigation/main }}
        </div>
    </div>
</header>
<!-- End: /layout/_header.antlers.html -->

