{{ if hero_type == 'video' }}
	{{ partial:components/background_hero :show_breadcrumb="!is_homepage" }}
{{ elseif hero_type == 'image' }}
	{{ partial:components/background_hero :show_breadcrumb="!is_homepage" }}
{{ elseif hero_type == 'case-study' }}
	{{ partial:components/background_hero 
		:hero_image="image" 
		:headline="title"
		show_breadcrumb="true"
		show_client="true" }}
{{ elseif hero_type == 'article' }}
	{{ partial:components/background_hero 
		:hero_image="image" 
		:headline="title"
		show_topic="true"
		show_date="true" }}
{{ else }}
	{{ partial:components/hero :color="hero_color:label" }}
{{ /if }}