{{#
    @name Breadcrumbs
    @desc Breadcrumbs display the current page in it's page hierarcy.
#}}

<!-- /navigation/_breadcrumbs.antlers.html -->
<nav aria-label="breadcrumb" class="{{ class }}">
    <ol
        vocab="https://schema.org/"
        typeof="BreadcrumbList"
        class="flex"
    >
        {{ nav:breadcrumbs include_home="false" }}
            <li
                class="flex items-baseline"
                property="itemListElement"
                typeof="ListItem"
            >
                {{ unless last }}
                    <a
                        property="item"
                        typeof="WebPage"
                        href="{{ url }}"
                    >
                        <span property="name">{{ title }}</span>
                    </a>
                    <meta property="position" content="{{ count }}">
                    <span class="px-2 {{ color ?? 'text-charcoal' }}" aria-hidden>
                        {{ svg:chevron-right class="w-2 h-3"}}
                    </span>
                {{ else }}
                    <a
                        href="{{ url }}"
                        property="name"
                        class="{{ color ?? 'text-black' }} font-bold "
                        aria-current="page"
                    >
                        <span property="name">{{ title }}</span>
                    </a>
                    <meta property="position" content="{{ count }}">
                {{ /unless }}
            </li>
        {{ /nav:breadcrumbs }}
    </ol>
</nav>
<!-- End: /navigation/_breadcrumbs.antlers.html -->
