{{ nav:footer max_depth="2" select="title|url|nav_taxonomy" }}
  <div class="hidden md:block">
    {{ if url }}<a href="{{ url }}">{{ /if }}
    {{ partial:typography/p as="h3" :content="title" color="text-white" class="font-medium" }}
    {{ if url }}</a>{{ /if }}
    <ul role="list" class="mt-4 space-y-4">
      {{ if nav_taxonomy }}
        {{ taxonomy :from="nav_taxonomy" sort="entries:count:desc" limit="6" }}
          <li>
            <a href="{{ url }}" class="leading-6 text-white hover:font-medium active:underline active:underline-offset-1">{{ title }}</a>
          </li>
        {{ /taxonomy }}
      {{ else }}
        {{ children }}
          <li>
            <a href="{{ url }}" class="leading-6 text-white hover:font-medium active:underline active:underline-offset-1">{{ title }}</a>
          </li>
        {{ /children }}
      {{ /if }}
    </ul>
  </div>
{{ /nav:footer }}
