<ul class="md:hidden flex flex-col overflow-auto">
    {{ nav:footer max_depth="2" select="title|url" }}
        <li
            {{ if children }}
                x-data="{ subnavOpen: false }"
                @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
            {{ /if }}
            class="leading-none"
        >
            <a
                class="w-full py-2 flex items-center justify-between space-x-1 text-lg font-bold hover:text-white text-white focus:outline-none focus-visible:ring-2 ring-primary"
                {{ if children }}
                    href="#"
                    @click.prevent="subnavOpen = !subnavOpen"
                    @click.outside="subnavOpen = false"
                    :aria-label="subnavOpen
                        ? '{{ trans:strings.subnav_close }}'
                        : '{{ trans:strings.subnav_open }}'"
                    :aria-expanded="subnavOpen"
                {{ else }}
                    href="{{ url }}"
                {{ /if }}
            >
                <span>{{ title }}</span>
                {{ if children }}
                    <div :class="{ 'scale-y-[-1]': subnavOpen }" class="motion-safe:transition-transform">
                        {{ svg:chevron_down class="w-2.5 ml-1 overflow-visible stroke-current text-white" aria-hidden="true" }}
                    </div>
                {{ /if }}
            </a>
            {{ if children }}
                <ul
                    x-show="subnavOpen"
                    x-ref="subnav"
                    class="flex flex-col items-stretch space-y-1.5 pb-2"
                    x-collapse
                >
                    {{ children }}
                        <li>
                            <a
                                class="block py-1 whitespace-nowrap hover:text-primary text-white focus:outline-none focus-visible:ring-2 ring-primary"
                                href="{{ url }}">
                                {{ title }}
                            </a>
                        </li>
                    {{ /children }}
                </ul>
            {{ /if }}
        </li>
    {{ /nav:footer }}
</ul>
