{{#
    @name Main mobile navigation
    @desc The sites main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_mobile.antlers.html -->
<nav
    x-data="{ mobileNavOpen: false }"
    class="{{ class }}"
    aria-label="{{ trans:strings.main_navigation }}"
    x-trap.inert.noscroll="mobileNavOpen"
    @keyup.escape.stop.prevent="mobileNavOpen = false"
    x-cloak
>
    <button
        @click.prevent.stop="mobileNavOpen = true"
        class="absolute right-0 top-1/2 -translate-y-1/2 text-black dark:text-white flex items-center justify-center mr-8 text-xs font-bold mb-safe rounded focus:outline-none focus-visible:ring-2 ring-primary ring-offset-2"
        aria-label="{{ trans:strings.nav_open }}"
    >
        {{ svg:menu class="h-6 w-6" }}
    </button>

    <div
        class="fixed inset-0 z-10 fluid-container flex flex-col justify-between bg-white"
        x-show="mobileNavOpen"
        x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full"
    >
        {{ partial:components/mobile_menu }}
    </div>
</nav>
<!-- End: /navigation/_main_mobile.antlers.html -->
