{{#
    @name Main desktop navigation
    @desc The sites main desktop navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_desktop.antlers.html -->
<nav class="{{ class }}" aria-label="{{ trans:strings.main_navigation }}">
    <div class="inset-x-0 bottom-0 px-4 md:bottom-auto md:inset-x-auto md:px-0" x-data x-popover:group>
        <ul class="flex items-center space-x-8">
            {{ nav:main max_depth="3" select="title|url" }}
                {{ if children }}
                    {{ partial:navigation/main_dropdown }}
                {{ else }}
                    <li class="relative leading-none">
                        <a class="p-1 -m-1 inline-flex flex-col items-center w-medium hover:font-medium focus:outline-none focus-visible:ring-2 ring-primary {{ is_current || is_parent ? 'text-black dark:text-white': 'text-black dark:text-white' }}" href="{{ url }}" data-text="{{ title }}">
                            {{ title }}
                        </a>
                    </li>
                {{ /if }}
            {{ /nav:main }}
        </ul>
    </div>
    
</nav>
<!-- End: /navigation/_main_desktop.antlers.html -->
