<li class="flex" x-data x-popover>
  <div class="relative leading-none">
    <button type="button" x-popover:button class="p-1 -m-1 flex items-center w-medium hover:font-medium focus:outline-none focus-visible:ring-2 ring-primary {{ is_current || is_parent ? 'text-black dark:text-white': 'text-black dark:text-white' }} relative z-10">
      {{ title }}
      <div :class="{ 'scale-y-[-1]': $popover.isOpen }" class="motion-safe:transition-transform">
        {{ svg:chevron_down class="w-2.5 ml-2.5 overflow-visible stroke-current" aria-hidden="true" }}
      </div>
    </button>
  </div>
  
  <div x-popover:panel x-collapse x-cloak x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="absolute inset-x-0 top-full">
    <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
    <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>
    {{ partial:components/subnavigation }}
  </div>
  
</li>
