/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {
    :root {
        --color-blue: 0 162 222;
        --color-red: 238 48 53;
        --color-green: 117 187 67;
        --color-yellow: 254 195 37;
        --color-black: 28 28 28;
        --color-charcoal: 77 81 86;
        --color-charcoal-60: 130 133 137;
        --color-charcoal-40: 184 185 187;
        --color-charcoal-20: 219 220 221;
        --color-charcoal-10: 244 244 244;

        --swiper-theme-color: rgb(var(--color-blue)) !important;
        --swiper-pagination-color: var(--swiper-theme-color);
        --swiper-pagination-left: auto;
        --swiper-pagination-right: 8px;
        --swiper-pagination-bottom: 8px;
        --swiper-pagination-top: auto;
        --swiper-pagination-fraction-color: inherit;
        --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
        --swiper-pagination-progressbar-size: 4px;
        --swiper-pagination-bullet-size: 8px;
        --swiper-pagination-bullet-width: 96px;
        --swiper-pagination-bullet-height: 8px;
        --swiper-pagination-bullet-border-radius: 0px;
        --swiper-pagination-bullet-inactive-color: rgb(var(--color-charcoal));
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-bullet-opacity: 1;
        --swiper-pagination-bullet-horizontal-gap: 4px;
        --swiper-pagination-bullet-vertical-gap: 6px;
      }
}

@layer components {

  .swiper-watch-progress .swiper-slide {
    opacity: .5;
  }

  .swiper-watch-progress .swiper-slide.swiper-slide-active {
    opacity: 1;
  }

  .swiper-thumbs .swiper-slide {
    @apply text-charcoal-40 hover:text-black;
  }

  .swiper-thumbs .swiper-tab-dot {
    display: none
  }

  .swiper-thumbs .swiper-slide.swiper-slide-thumb-active {
    @apply text-black;
  }

  .swiper-thumbs .swiper-slide-thumb-active .swiper-tab-dot {
    display: block;
  }

}

@layer utilities {
}