/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {
    :root {
        --color-blue: 0 162 222;
        --color-red: 238 48 53;
        --color-green: 117 187 67;
        --color-yellow: 254 195 37;
        --color-black: 0 0 0;
        --color-charcoal: 77 81 86;
      }
}

@layer components {

}

@layer utilities {

}