/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {
    :root {
        --color-blue: 0 162 222;
        --color-red: 238 48 53;
        --color-green: 117 187 67;
        --color-yellow: 254 195 37;
        --color-black: 28 28 28;
        --color-charcoal: 77 81 86;
        --color-charcoal-60: 130 133 137;
        --color-charcoal-40: 184 185 187;
        --color-charcoal-20: 219 220 221;
        --color-charcoal-10: 244 244 244;

        --plyr-color-main: rgb(var(--color-blue));
        
        --swiper-theme-color: rgb(var(--color-blue)) !important;
        --swiper-pagination-color: var(--swiper-theme-color);
        --swiper-pagination-left: auto;
        --swiper-pagination-right: 8px;
        --swiper-pagination-bottom: 8px;
        --swiper-pagination-top: auto;
        --swiper-pagination-fraction-color: inherit;
        --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
        --swiper-pagination-progressbar-size: 4px;
        --swiper-pagination-bullet-size: 8px;
        --swiper-pagination-bullet-width: 40px;
        --swiper-pagination-bullet-height: 8px;
        --swiper-pagination-bullet-border-radius: 0px;
        --swiper-pagination-bullet-inactive-color: rgb(var(--color-charcoal-20));
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-bullet-opacity: 1;
        --swiper-pagination-bullet-horizontal-gap: 4px;
        --swiper-pagination-bullet-vertical-gap: 6px;

        --swiper-navigation-color: var(--swiper-theme-color);
      
      }

      @media screen(sm) {
        :root {
          --swiper-pagination-bullet-width: 96px;
        }
      }

      [type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%23000%22%20fill-rule%3D%22evenodd%22%20d%3D%22M17.293%2018%209%209.707.707%2018H0v-.707L8.293%209%200%20.707V0h.707L9%208.293%2017.293%200H18v.707L9.707%209%2018%2017.293V18h-.707Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E"); 
      }

      [type='radio']:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
      }

      select { 
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M6 8l4 4 4-4'/%3e%3c/svg%3e"); 
      }

      
}

@layer components {

  .plyr__control--overlaid {
    --plyr-control-icon-size: 32px;
  }    

  .swiper-watch-progress .swiper-slide {
    opacity: .5;
  }

  .swiper-watch-progress .swiper-slide.swiper-slide-active {
    opacity: 1;
  }

  .swiper-watch-progress .swiper-slide > * {
    pointer-events: none;
  }

  .swiper-watch-progress .swiper-slide.swiper-slide-active > * {
    pointer-events: auto;
  }
  
  .swiper-thumbs .swiper-slide {
    @apply text-charcoal-40 hover:text-black;
  }

  .swiper-thumbs .swiper-tab-dot {
    display: none
  }

  .swiper-thumbs .swiper-slide.swiper-slide-thumb-active {
    @apply text-black;
  }

  .swiper-thumbs .swiper-slide-thumb-active .swiper-tab-dot {
    display: block;
  }

  .swiper-prev,
  .swiper-next {
    z-index: 10;
    cursor: pointer;
    color: var(--swiper-navigation-color);
  }

  .swiper-prev.swiper-button-disabled, 
  .swiper-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-navigation-disabled .swiper-prev,
  .swiper-navigation-disabled .swiper-next {
    display: none !important;
  }
  
  .swiper-pagination-yellow {
    --swiper-pagination-color:  rgb(var(--color-yellow));
  }

}

@layer utilities {
  .dark {
    --swiper-pagination-bullet-inactive-color: rgb(var(--color-charcoal));
  }
}