{{#
    @name awards
    @desc The awards page builder block.
    @set page.page_builder.awards
#}}

<!-- /page_builder/_awards.antlers.html -->
<section class="fluid-container">
    <div ax-load x-data="fadeIn" 
    x-init="hide($el.children)" 
    x-intersect.once.margin.-20%="fadeInStagger($el)"
    class="pb-10 border-b">
        {{ if block:title }}
        <div>
            {{ partial:typography/h2 :content="title" }}
            {{ block:text ?= {partial:typography/p :content="block:text" class="mt-2" } }}
        </div>
        {{ /if }}

        {{ awards = block:awards ? block:awards : {collection:awards limit="5" redirects="true" } }}

        <div ax-load x-data="masonryGrid" class="grid md:grid-cols-12 gap-6 mt-10">    
            {{ awards:0 }}
                {{ partial:components/article_item large="true" class="md:col-span-6" }}
            {{ /awards:0 }}

            <div class="grid supports-[grid-template-rows:masonry]:grid-rows-[masonry] md:grid-cols-6 md:col-span-6 gap-6" data-columns="2">
                {{ awards offset="1" }}
                    {{ partial:components/article_item class="md:col-span-3" }}
                {{ /awards }}
            </div>
        </div>

        <nav class="mt-10 text-center">
            {{ partial:components/button label="{trans:strings.awards_all}" link_type="url" url="/awards" }}
        </nav>
    </div>
</section>
<!-- End: /page_builder/_awards.antlers.html -->
