{{#
    @name awards
    @desc The awards page builder block.
    @set page.page_builder.awards
#}}

<!-- /page_builder/_awards.antlers.html -->
<section class="fluid-container">
    <div x-data="fadeIn()" 
    x-init="hide($el.children)" 
    x-intersect.once.margin.-20%="fadeInStagger($el)"
    class="pb-10 border-b grid md:grid-cols-12 gap-8">
        {{ if block:title }}
        <div class="grid md:grid-cols-12 md:col-span-12">
            {{ partial:typography/h2 :content="title" class="md:col-span-6" }}
        </div>
        {{ /if }}

        {{ awards = block:awards ? block:awards : {collection:awards limit="5" redirects="true" } }}

        {{ awards }}
            {{ partial:components/article_item class="md:col-span-3" }}
        {{ /awards }}

        <nav class="md:col-span-12 text-center">
            {{ partial:components/button label="{trans:strings.awards_all}" link_type="url" url="#" }}
        </nav>
    </div>
</section>
<!-- End: /page_builder/_awards.antlers.html -->
