{{#
    @name Block Carousel
    @desc The Block Carousel page builder block.
    @set page.page_builder.carousel
#}}

<!-- /page_builder/_block_carousel.antlers.html -->
<section ax-load x-data="blockCarousel" class="overflow-hidden">
    <div class="fluid-container">
        {{ if block:title }}
        <div class="grid md:grid-cols-12 gap-8 md:col-span-12">
            {{ partial:typography/h2 :content="block:title" class="md:col-span-5" }}
            <div class="md:col-start-7 md:col-span-6">
                {{ partial:typography/p :content="block:text"}}
                {{ partial:components/buttons :buttons="block:buttons" class="mt-6" }}
            </div>
        </div>
        {{/if}}

        <div class="mt-10 md:mt-20 swiper !pb-14 !overflow-x-visible" x-ref="container">
            <div class="swiper-wrapper">
                {{ block:blocks }}
                    <div class="swiper-slide !h-auto !flex !flex-col">
                        <figure class="aspect-[7/5] lg:aspect-[2/1]">
                            {{ partial
                                src="statamic-peak-tools::components/picture"
                                sizes="(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw"
                                aspect_ratio="7/5 large:2/1"
                                cover="true"
                                lazy="true"
                            }}
                        </figure>

                        <div class="px-8 pt-6 pb-12 relative bg-black flex-1">
                            {{ partial:typography/large color="text-white font-medium" :content="title" }}
                            {{ partial:typography/p class="text-white text-sm" :content="text" }}
                        </div>
                    </div>
                {{ /block:blocks }}
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination absolute !text-left !bottom-0"></div>
        </div>
        
    </div>
</section>
<!-- End: /page_builder/_block_carousel.antlers.html -->
