{{#
    @name blog
    @desc The blog page builder block.
    @set page.page_builder.blog
#}}

<!-- /page_builder/_blog.antlers.html -->
<section class="fluid-container">
    <div x-data="fadeIn()" 
    x-init="hide($el.children)" 
    x-intersect.once.margin.-20%="fadeInStagger($el)"
    class="pb-10 border-b grid md:grid-cols-12 gap-8">
        {{ if block:title }}
        <div class="md:col-span-12">
            {{ partial:typography/h2 :content="title" }}
            {{ block:text ?= {partial:typography/p :content="block:text" class="mt-2" } }}
        </div>
        {{ /if }}

        {{ blog = block:blog ? block:blog : {collection:blog limit="8" redirects="true" } }}

        {{ blog }}
            {{ partial:components/article_item class="md:col-span-3" }}
        {{ /blog }}

        <nav class="md:col-span-12 text-center">
            {{ partial:components/button label="{trans:strings.blog_all}" link_type="url" url="/insights/blog" }}
        </nav>
    </div>
</section>
<!-- End: /page_builder/_blog.antlers.html -->
