{{#
	@name Call to action
	@desc The call to action page builder block.
    @set page.page_builder.call_to_action
#}}

<!-- /page_builder/_call_to_action.antlers.html -->
{{ if cta_type == 'illustration' }}
    {{ partial:components/cta_illustration
        :cta_color="block:color:label"
        :cta_title="block:title"
        :cta_label="block:label" }}
{{ else }}
    {{ partial:components/cta_render
        :cta_color="block:color:label"
        :cta_title="block:title"
        :cta_image="block:image"
        :cta_label="block:label" }}
{{ /if }}
<!-- /page_builder/_call_to_action.antlers.html -->