{{#
    @name Case Studies
    @desc The Case Studies page builder block.
    @set page.page_builder.case_studies
#}}

<!-- /page_builder/_case_studies.antlers.html -->
{{ if block_type == 'carousel' }}
    {{ partial:components/case_studies_carousel
        :title="block:title"
        :text="block:text"
        :case_studies="block:case_studies" }}
{{ else }}
    {{ partial:components/case_studies_grid
        :title="block:title"
        :text="block:text"
        :case_studies="block:case_studies" }}
{{ /if }}