{{#
    @name Centered
    @desc The Centered page builder block.
    @set page.page_builder.centered
#}}

<!-- /page_builder/_centered.antlers.html -->
<section class="w-full relative bg-black-10">
    <div class="fluid-container grid md:grid-cols-12 gap-8 py-16 md:py-32">
        <div class="relative text-center md:col-start-3 md:col-span-8">
            {{ partial:typography/p :content="eyebrow" }}
            {{ partial:typography/h3 :content="text" class="mt-2" }}
        </div>
    </div>
</section>
<!-- End: /page_builder/_centered.antlers.html -->
