{{#
    @name Clients
    @desc The Clients page builder block.
    @set page.page_builder.clients
#}}

<!-- /page_builder/_clients.antlers.html -->
<section class="space-y-4 md:space-y-8 overflow-hidden">
    {{ rows:0 }}
        <ul x-data="horizontalLoop()" x-init="loop = horizontalLoop($el.children, {repeat: -1})" role="list" class="w-full flex justify-center">
            {{ loop times="2" }}
                {{ clients }}
                <li class="px-11 md:px-20">
                    <a @mouseenter="pause(loop)" @mouseleave="resume(loop, 1)" class="inline-block p-1 -m-1 motion-safe:transition-transform focus:outline-none focus-visible:ring-2 focus-visible:ring-primary group" href="{{ website }}" target="_blank" rel="noopener" aria-label="{{ title }}">
                        {{ partial:statamic-peak-tools::components/picture :image="logo" class="w-auto h-8 max-w-[87px] md:h-14 md:max-w-[175px] group-focus-visible:grayscale group-hover:grayscale motion-safe:transition" }}
                    </a>
                </li>
                {{ /clients }}
            {{ /loop }}
        </ul>
    {{ /rows:0 }}
    {{ rows:1 }}
        <ul x-data="horizontalLoop()" x-init="loop = horizontalLoop($el.children, {repeat: -1, reversed: true });" role="list" class="w-full flex justify-center">
            {{ loop times="2" }}
                {{ clients }}
                <li class="px-8 md:px-16">
                    <a @mouseenter="pause(loop)" @mouseleave="resume(loop, -1)" class="inline-block p-1 -m-1 motion-safe:transition-transform focus:outline-none focus-visible:ring-2 focus-visible:ring-primary group" href="{{ website }}" target="_blank" rel="noopener" aria-label="{{ title }}">
                        {{ partial:statamic-peak-tools::components/picture :image="logo" class="w-auto h-8 max-w-[87px] md:h-14 md:max-w-[175px] group-focus-visible:grayscale group-hover:grayscale motion-safe:transition" }}
                    </a>
                </li>
                {{ /clients }}
            {{ /loop }}
        </ul>
    {{ /rows:1 }}
</section>
<!-- End: /page_builder/_clients.antlers.html -->
