{{#
    @name FAQ
    @desc The FAQ page builder block.
    @set page.page_builder.faq
#}}

<!-- /page_builder/_faq.antlers.html -->
{{ once }}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "FAQPage",
            "mainEntity": [
                {{ stack:questions }}
                    {{ value }}{{ !last ?= ',' }}
                {{ /stack:questions }}
            ]
        }
    </script>
{{ /once }}

<section {{ if show_product_types }}x-show="type == '{{ block:product_type:slug }}'" x-cloak{{/if}} class="w-full py-10 md:py-16 lg:py-20 bg-black dark text-white">
    <div class="fluid-container">
        <div 
            x-data="fadeIn" 
            x-init="hide($el.children)" 
            x-intersect.once.margin.-20%="fadeInStagger($el)" class="grid md:grid-cols-12 gap-8">
            {{ block:title ?= { partial:typography/h2 :content="block:title" class="md:col-span-5" } }}
            <div
                x-data="{ expanded: 1 }"
                class="md:col-start-7 md:col-span-6 -mt-2.5 sm:-mt-6"
            >
                {{ block:questions }}
                    {{ partial:components/question }}
                {{ /block:questions }}
            </div>
        </div>
    </div>
</section>
<!-- End: /page_builder/_faq.antlers.html -->
