{{#
    @name Form
    @desc The form page builder block.
    @set page.page_builder.form
#}}

<!-- /page_builder/_form.antlers.html -->
<section ax-load x-data="fadeIn" 
x-init="hide($el.children)" 
x-intersect.once.margin.-20%="fadeInStagger($el)" class="fluid-container grid md:grid-cols-12 gap-8">
    {{ block:title ?= { partial:typography/h2 :content="block:title" class="md:col-span-5" } }}
    <div class="md:col-start-7 md:col-span-6">
        {{ partial:typography/p :content="block:text"}}

        {{ if form:handle }}
            {{# Create the selected form and reference Alpine data in `sending()`. Prevent form from submitting with POST as we will submit with AJAX. #}}
            <div x-data="formHandler()" x-cloak class="mt-6">
                {{ form:create :in="form:handle"
                    id="form-{form:handle}"
                    csrf="false"
                    class="flex flex-col gap-8"
                    x-ref="form"
                    @submit.prevent="sendForm()"
                    js="alpine:dynamic_form"
                }}
                    {{# Honeypot spam protection. #}}
                    <div class="hidden">
                        <label class="font-bold" for="{{ honeypot }}">{{ trans:strings.form_honeypot }} <sup class="text-yellow-400">*</sup></label>
                        <input class="form-input w-full" id="{{ honeypot }}" type="text" name="{{ honeypot }}" tabindex="-1" autocomplete="off"/>
                    </div>

                    {{ sections }}
                        <fieldset class="w-full grid md:grid-cols-12 gap-5 md:gap-10">
                            {{ if display || instructions }}
                                <span class="md:col-span-12">
                                    {{ display ?= { partial:typography/h2 class="mb-2" as="legend" content="{ trans :key="display" }" } }}
                                    {{ instructions ?= { partial:typography/p content="{ trans :key="instructions" }" } }}
                                </span>
                            {{ /if }}

                            {{# Render the default-styled fields. #}}
                            {{ fields }}
                                <template x-if="{{ show_field }}">
                                    <div class="{{ input_type == 'hidden' ?= 'hidden' }} flex flex-col
                                        {{ width == '25' ?= 'md:col-span-3' }}
                                        {{ width == '33' ?= 'md:col-span-4' }}
                                        {{ width == '50' ?= 'md:col-span-6' }}
                                        {{ width == '66' ?= 'md:col-span-8' }}
                                        {{ width == '75' ?= 'md:col-span-9' }}
                                        {{ width == '100' ?= 'md:col-span-12' }}"
                                    >
                                        {{ if display }}
                                        <label for="{{ handle }}">
                                            {{ partial:typography/annotation as="span" content="{ trans :key="display" }" }}
                                            {{ if validate | contains('required') }}
                                                <sup class="text-yellow-400">*</sup>
                                            {{ /if }}
                                            {{ if instructions }}
                                                {{ partial:typography/p class="text-sm my-1" content="{ trans :key="instructions" }" }}
                                            {{ /if }}
                                        </label>
                                        {{ /if }}

                                        <div class="flex flex-col space-y-2">
                                            {{ field }}

                                            {{# Display error label when there is a validation error with the name field. #}}
                                            <template x-if="errors.{{ handle }}">
                                                <span class="text-red" id="{{ handle }}" x-text="errors.{{ handle}}"></span>
                                            </template>
                                        </div>

                                    </div>
                                </template>
                            {{ /fields }}
                        </fieldset>
                    {{ /sections }}

                    <div class="w-full grid md:grid-cols-12 gap-6">
                        <template x-if="error">
                            {{ partial src="components/notification" type="notice" class="md:col-span-12" content="{trans:strings.form_error}" }}
                        </template>
                        <template x-if="success">
                            {{ partial src="components/notification" type="success" class="md:col-span-12" content="{trans:strings.form_success}" }}
                        </template>

                        {{# Pulse button and disable upon sending. #}}
                        <div class="md:col-span-12 flex">
                            {{ partial:components/button as="button" label="{ trans:strings.form_send }" }}
                                {{ slot:attributes }}
                                    :disabled="sending" :class="{ 'opacity-25 cursor-default': sending }"
                                {{ /slot:attributes }}
                            {{ /partial:components/button }}
                        </div>
                    </div>
                {{ /form:create }}
            </div>

            {{# Call in the Peak Tools Alpine based Form Handler. #}}
            {{ partial:statamic-peak-tools::snippets/form_handler }}
        {{ /if }}
    </div>
</section>
<!-- End: /page_builder/_form.antlers.html -->
