{{#
	@name Full width image
	@desc The Full width image page builder block.
    @set page.page_builder.full_width_image
#}}

<!-- /page_builder/_full_width_image.antlers.html -->
<section class="fluid-container flex flex-col gap-6 md:gap-10">
    {{ if mobile_panning }}
        <div x-data="{ 
            width: null,
            left: 0
        }" x-init="width = $refs.image.querySelector('img').offsetWidth" class="{{ if block:image_position == 'below'}}order-1{{/if}}">
            <figure class="relative aspect-[4/3] md:aspect-[8/3] -mx-8 lg:mx-0">
                <div 
                x-ref="image" 
                x-on:resize.window="width = $refs.image.querySelector('img').offsetWidth"
                x-on:scroll="left = $refs.image.scrollLeft"
                class="overflow-x-auto overscroll-x-contain scroll-smooth [scrollbar-width:none] [&::-webkit-scrollbar]:hidden text-center absolute inset-0">
                    {{ partial:statamic-peak-tools::components/picture :image="block:image" aspect_ratio="8/3" lazy="true" sizes="100vw" class="h-full w-auto max-w-none" }}
                </div>
            </figure>
            <div class="mt-8 md:mt-16 md:hidden relative w-full flex justify-center gap-16 mb-8 lg:mb-0">
                <div @click="$refs.image.scrollBy(width/-3, 0)" class="text-primary cursor-pointer transition lg:absolute lg:top-1/2 lg:-translate-y-3/4 lg:left-0">
                    <div class="p-3"  :class="{ 'animate-bob': left == width/2 }">
                        {{ svg:chevron-big-left class="w-8 h-8" }}
                    </div>
                </div>
                <div @click="$refs.image.scrollBy(width/3, 0)" class="text-primary cursor-pointer transition lg:absolute lg:top-1/2 lg:-translate-y-3/4 lg:right-0">
                    <div class="p-3" :class="{ 'animate-bob': left == 0 }">
                        {{ svg:chevron-big-right class="w-8 h-8" }}
                    </div>
                </div>
            </div>
        </div>
    {{ else }}
        <figure ax-load x-data="fadeIn" x-init="hide($el)" x-intersect.once.margin.-20%="fadeIn($el)" 
        class="aspect-[7/5] md:aspect-[8/3] -mx-8 lg:mx-0 {{ if block:image_position == 'below'}}order-1{{/if}}">
            {{ partial:statamic-peak-tools::components/picture :image="block:image" aspect_ratio="7/5 large:8/3" cover="true" lazy="true" sizes="100vw" }}
        </figure>
    {{ /if }}
    {{ if block:title }}
    <div 
        ax-load x-data="fadeIn" 
        x-init="hide($el.children)" 
        x-intersect.once.margin.-20%="fadeInStagger($el)" class="grid md:grid-cols-12 gap-8">
        {{ block:title ?= { partial:typography/h2 :content="block:title" class="md:col-span-5" } }}
        <div class="md:col-start-7 md:col-span-6">
            {{ partial:typography/p :content="block:text"}}
            {{ partial:components/buttons :buttons="block:buttons" class="mt-6" }}
        </div>
    </div>
    {{ /if }}
</section>
<!-- End: /page_builder/_full_width_image.antlers.html -->
