{{#
    @name Icon List
    @desc The Icon List page builder block.
    @set page.page_builder.icon_list
#}}

<!-- /page_builder/_icon_list.antlers.html -->
<section class="bg-black-10 py-16 md:py-32">
    <div class="fluid-container">
        {{ if block:title }}
            <div class="mx-auto max-w-2xl lg:mx-0 text-center">
                {{ partial:typography/h2 :content="title" }}
            </div>
        {{ /if }}
        <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:gap-x-16">
            {{ block:icon_list }}
                <div class="relative flex">
                    <div class="w-24">
                        {{ icon }}
                    </div>
                    <div class="ml-4">
                        {{ partial:typography/large as="dt" :content="title" }}
                        {{ partial:typography/p as="dd" :content="text" }}
                    </div>

                </div>
            {{ /block:icon_list }}
        </dl>
    </div>
</section>
<!-- End: /page_builder/_icon_list.antlers.html -->