{{#
    @name Icon List
    @desc The Icon List page builder block.
    @set page.page_builder.icon_list
#}}

<!-- /page_builder/_icon_list.antlers.html -->
<section {{ if show_product_types }}x-show="type == '{{ block:product_type:slug }}'" x-cloak{{/if}} class="{{ switch(
	(block:color:label == 'Black') => 'w-full py-10 md:py-16 lg:py-20 bg-black dark text-white',
	(block:color:label == 'Grey') => 'w-full py-10 md:py-16 lg:py-20 bg-charcoal-10 text-black',
	() => 'text-black'
	)}}">
    <div class="fluid-container">
        {{ if block:title && block:text }}
        <div 
            x-data="fadeIn" 
            x-init="hide($el.children)" 
            x-intersect.once.margin.-20%="fadeInStagger($el)" class="grid md:grid-cols-12 gap-8">
            {{ block:title ?= { partial:typography/h2 :content="block:title" class="md:col-span-5" } }}
            <div class="md:col-start-7 md:col-span-6">
                {{ partial:typography/p :content="block:text"}}
                {{ partial:components/buttons :buttons="block:buttons" class="mt-6" }}
            </div>
        </div>
        {{ else }}
        <div class="md:mx-auto md:max-w-2xl md:text-center">
            {{ partial:typography/h2 :content="title|widont" }}
        </div>
        {{ /if }}
        <dl x-data="fadeIn"
        x-init="hide($el.children)"
        x-intersect.once.margin.-20%="fadeInStagger($el)" class="mx-auto lg:mx-0 mt-10 md:mt-20 grid grid-cols-1  
        {{ switch(
            (({block:icon_list}|length === 5) && !block:icon_list:0:text) => 'sm:grid-cols-12 md:grid-cols-10',
            (({block:icon_list}|length === 7) && !block:icon_list:0:text) => 'sm:grid-cols-12 xl:grid-cols-14',
            () => 'sm:grid-cols-12'
        )}}
        
        {{ if block:icon_position == 'above' }}
            gap-8 {{ if block:icon_list|length > 5 }}lg:gap-x-4{{else}}lg:gap-x-16{{/if}}
        {{ else }}
            gap-8 lg:gap-y-16 lg:gap-x-10
        {{ /if }}">
        
            {{ block:icon_list}}
                {{ if block:icon_position == 'above' }}
                <div class="relative flex gap-4  sm:flex-col {{ text ? 'items-start' : 'items-center text-center' }}
                    {{ switch(
                        (total_results === 2) => 'sm:col-span-6',
                        (total_results === 3) => 'sm:col-span-6 md:col-span-4',
                        ((total_results === 5) && text) => 'sm:col-span-6 lg:col-span-4',
                        ((total_results >= 4) && text) => 'sm:col-span-6 lg:col-span-3',
                        ((total_results === 4) && !text) => 'sm:col-span-6 md:col-span-3',
                        ((total_results === 7) && !text) => 'sm:col-span-6 md:col-span-3 xl:col-span-2',
                        ((total_results === 5) && !text) => 'sm:col-span-6 md:col-span-2',
                        ((total_results >= 5) && !text) => 'sm:col-span-6 md:col-span-4 xl:col-span-2',
                        () => void
                    )}}">
                    {{ svg src="images/iconography/{icon | raw}" class="w-16 h-16 {(total_results === 7) ? 'lg:h-20 lg:w-20' : 'lg:h-24 lg:w-24' } shrink-0" }}
                    <div>
                        {{ partial:typography/large as="dt" :content="title" class="{(total_results === 7) ?= 'lg:text-lg' }" }}
                        {{ text ?= {partial:typography/p as="dd" :content="text" class="mt-4 {(total_results === 7) ?= 'lg:text-base' }" } }}
                    </div>
                </div>
                {{ else }}
                <div class="relative flex gap-4 items-start sm:col-span-6">
                    {{ svg src="images/iconography/{icon | raw}" class="w-16 h-16 lg:h-24 lg:w-24 shrink-0" }}
                    <div>
                        {{ partial:typography/large as="dt" class="font-medium" :content="title" }}
                        {{ text ?= {partial:typography/p as="dd" :content="text" class="mt-4" } }}
                    </div>
                </div>
                {{ /if }}
            {{ /block:icon_list }}
        </dl>
    </div>
</section>
<!-- End: /page_builder/_icon_list.antlers.html -->