{{#
	@name Images grid
	@desc The Images grid page builder block.
    @set page.page_builder.images_grid
#}}

<!-- /page_builder/_images_grid.antlers.html -->
<section>
    <div class="grid gap-8 fluid-container md:grid-cols-12">
        {{ block:title ?= { partial:typography/h2 :content="block:title" class="md:col-span-5" } }}
        <div class="md:col-start-7 md:col-span-6">
            {{ partial:typography/p :content="block:text"}}
            {{ partial:components/buttons :buttons="block:buttons" class="mt-6" }}
        </div>
    </div>
    
    <div class="mt-10 md:mt-20 space-y-4 md:space-y-8 overflow-hidden">
        {{ block:rows:0 }}
            <div ax-load x-data="horizontalLoop" x-init="loop1 = horizontalLoop($el.children, {repeat: -1, speed: .66})" class="flex">
                {{ loop times="2" }}
                    <div class="shrink-0 h-36 md:h-72 px-2 md:px-4 flex gap-4 md:gap-8">
                        {{ images }}
                            <div class="shrink-0" style="flex-grow: calc({{ width }}/{{ height }});">
                                {{ partial
                                    src="statamic-peak-tools::components/picture"
                                    :image="url"
                                    sizes="(min-width: 1280px) 320px, (min-width: 768px) 25vw, 90vw"
                                    cover="true"
                                }}
                            </div>
                        {{ /images }}
                    </div>
                {{ /loop }}
            </div>
        {{ /block:rows:0 }}
        {{ block:rows:1 }}
            {{ if images }}
            <div ax-load x-data="horizontalLoop" x-init="loop2 = horizontalLoop($el.children, {repeat: -1, reversed: true, speed: .66 });" class="flex">
                {{ loop times="2" }}
                    <div class="shrink-0 h-36 md:h-72 px-2 md:px-4 flex gap-4 md:gap-8">
                        {{ images }}
                            <div class="shrink-0" style="flex-grow: calc({{ width }}/{{ height }});">
                                {{ partial
                                    src="statamic-peak-tools::components/picture"
                                    :image="url"
                                    sizes="(min-width: 1280px) 320px, (min-width: 768px) 25vw, 90vw"
                                    cover="true"
                                }}
                            </div>
                        {{ /images }}
                    </div>
                {{ /loop }}
            </div>
            {{ /if }}
        {{ /block:rows:1 }}
    </div>
</section>
<!-- End: /page_builder/_images_grid.antlers.html -->
