{{#
    @name Insights
    @desc The Insights page builder block.
    @set page.page_builder.insights
#}}

<!-- /page_builder/_insights.antlers.html -->
<section class="w-full bg-black-10 py-16 md:py-24">
    <div 
    x-data="fadeIn()" 
    x-init="hide($el.children)" 
    x-intersect.once.margin.-20%="fadeInStagger($el)" class="fluid-container grid supports-[grid-template-rows:masonry]:grid-rows-[masonry] md:grid-cols-12 gap-6 md:gap-8">
        {{ if block:title }}
        <div class="grid md:grid-cols-12 md:col-span-12">
            {{ partial:typography/h2 :content="title" class="md:col-span-6" }}
        </div>
        {{ /if }}

        {{ insights = block:insights ? block:insights : {%collection from="blog|press|awards|thought_leadership" limit="4" redirects="true" } }}

        {{ insights }}
            {{ partial:components/insights_item class="md:col-span-3" }}
        {{ /insights }}

        <nav class="md:col-span-12 text-center">
            {{ partial:components/button label="{trans:strings.insights_all}" link_type="url" url="/insights" }}
        </nav>
    </div>
</section>
<!-- End: /page_builder/_insights.antlers.html -->
