{{#
    @name Link blocks
    @desc The link blocks page builder block.
    @set page.page_builder.link_blocks
#}}

<!-- /page_builder/_link_blocks.antlers.html -->
<section x-data="fadeIn" 
    x-init="hide($el.children)" 
    x-intersect.once.margin.-20%="fadeInStagger($el)" class="fluid-container grid md:grid-cols-12 gap-8 md:gap-12">
    {{ if block:title }}
    <div class="grid md:grid-cols-12 gap-8 md:col-span-12">
        {{ partial:typography/h2 :content="block:title" class="md:col-span-6 md:max-w-[20ch]" }}
    </div>
    {{ /if }}

    {{ block:link_blocks }}
        <a
            class="
                flex flex-col justify-between items-start no-underline focus:outline-none focus-visible:ring-2 ring-offset-2 ring-primary
                {{ switch(
                    (total_results === 1) => 'md:col-span-8 md:col-start-3',
                    (total_results === 2) => 'md:col-span-6',
                    (total_results > 2) => 'md:col-span-8 md:col-start-3 lg:col-span-4 lg:col-start-0',
                    () => void
                )}}
            "
            aria-labelledby="{{ title | slugify }}"
            draggable="false"
            {{ partial:snippets/button_attributes }}
        >
            {{ if image }}
            <figure class="mb-4">
                {{ partial
                    src="statamic-peak-tools::components/picture"
                    sizes="
                        { switch(
                            (total_results == 1) => '(min-width: 1280px) 1150px, 90vw',
                            (total_results == 2) => '(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw',
                            (total_results == 3) => '(min-width: 1280px) 430px, (min-width: 768px) 33vw, 90vw',
                        )}
                    "
                    aspect_ratio="{ total_results >= 3 ? '7/5' : '7/5 large:9/4' }"
                    cover="true"
                    lazy="true"
                }}
            </figure>
            {{ /if }}
            <div class="mb-4">
                <span id="{{ title | slugify }}">
                    {{ partial:typography/h3 class="mb-2" color="text-neutral" :content="title" }}
                </span>
                {{ if text }}
                    {{ partial:typography/p class="mb-4" :content="text" }}
                {{ /if }}
            </div>
            {{ partial:components/button as="span" faux="true" }}
        </a>
    {{ /block:link_blocks }}
</section>
<!-- End: /page_builder/_link_blocks.antlers.html -->
