{{#
    @name Offices
    @desc The Offices page builder block.
    @set page.page_builder.offices
#}}

<!-- /page_builder/_offices.antlers.html -->
<section class="fluid-container grid md:grid-cols-12 gap-8">
    {{
        offices = block:offices
            ? block:offices
            : { collection:offices sort="order" }
    }}

    {{ offices scope="office" }}
        <article x-data="{ open: false }" class="md:col-span-4 flex flex-col gap-3">
            <figure class="aspect-[4/3]">
                {{ partial
                    src="statamic-peak-tools::components/picture"
                    :image="office:image:url"
                    aspect_ratio="4/3"
                    sizes="(min-width: 1280px) 430px, (min-width: 768px) 33vw, 90vw"
                    cover="true"
                    lazy="true"
                }}
            </figure>
            <header class="flex flex-col">
                {{ partial:typography/large :content="office:title" class="font-bold" }}
                
                <p class="mt-2 text-lg leading-snug text-black">
                    {{ office:address }}
                        {{ value }}<br/>
                    {{ /office:address }}
                </p>

                {{ if office:email }}
                <a href="mailto:{{ email | obfuscate_email }}" class="mt-2 text-lg leading-snug text-black">
                    {{ office:email | obfuscate_email }}
                </a>
                {{ /if }}

                {{ if office:tel }}
                <a href="tel:{{ office:tel }}" class="mt-2 text-lg leading-snug text-black">
                    {{ office:tel }}
                </a>
                {{ /if }}

                {{ partial:components/slideover slideover_inverted="true" label_open="{trans:strings.read_more}" label_close="Close" label_aria="Open {{ office:title }}" }}
                    {{ slot:content }}
                        <div class="aspect-[7/3]">
                            {{ partial
                                src="statamic-peak-tools::components/picture"
                                :image="office:image:url"
                                aspect_ratio="7/3"
                                sizes="(min-width: 1280px) 430px, (min-width: 768px) 33vw, 90vw"
                                cover="true"
                                lazy="true"
                            }}
                        </div>
                        <div class="p-8">
                            <div class="space-y-2">
                                {{ partial:typography/h3 content="{office:title} {office:head_office ?= '(Head Office)'}" }}
                                <p class="mt-2 text-lg leading-snug text-white">
                                    {{ office:address }}
                                        {{ value }}<br/>
                                    {{ /office:address }}
                                </p>

                                {{ if office:email }}
                                <a href="mailto:{{ email | obfuscate_email }}" class="mt-2 flex text-lg leading-snug text-white">
                                    {{ svg:mail class="w-6 h-6 mr-1" }} {{ office:email | obfuscate_email }}
                                </a>
                                {{ /if }}

                                {{ if office:tel }}
                                <a href="tel:{{ office:tel }}" class="mt-2 flex text-lg leading-snug text-white">
                                    {{ svg:phone class="w-6 h-6 mr-1" }} {{ office:tel }}
                                </a>
                                {{ /if }}
                            </div>
                            {{ partial:typography/prose class="mt-8" }}
                                <strong>About the {{ office:city }} Office</strong>
                                {{ office:about }}
                            {{ /partial:typography/prose }}
                        </div>
                        
                    {{ /slot:content }}
                {{ /partial:components/slideover }}
            </header>
        </article>
    {{ /offices }}
</section>
<!-- End: /page_builder/_offices.antlers.html -->
