{{#
    @name Products
#}}

<!-- /page_builder/_products.antlers.html -->
{{#<div class="border-charcoal-20 border-t border-b">
    <div class="fluid-container h-16 md:h-[4.5rem] flex justify-start items-center">
        <div class="pr-6 md:pr-12">
            <h3 class="text-lg md:text-2xl leading-tight text-black">{{ title }}</h3>
        </div>
        <div class="border-r border-chacoal-20 h-1/2"></div>
        <nav class="overflow-auto h-full flex items-center pl-6 md:pl-12">
            <ul class="flex items-center space-x-8">
                {{ products }}
                    <li class="relative leading-none shrink-0">
                        {{ if first }}
                        <a class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary" href="{{ url }}" data-text="{{ title }}">
                            <span class="flex">
                                {{ if first }}<span class="w-4 h-4 bg-green rounded-full mr-3"></span>{{/if}}
                                {{ title }}
                            </span>
                        </a>
                        {{ else }}
                        <a class="p-1 -m-1 text-charcoal-40 hover:text-black inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary" href="{{ url }}" data-text="{{ title }}">
                            <span class="flex">
                                {{ if first }}<span class="w-4 h-4 bg-green rounded-full mr-3"></span>{{/if}}
                                {{ title }}
                            </span>
                        </a>
                        {{ /if }}
                    </li>
                {{ /products }}
            </ul>
        </nav>
    </div>
</div>#}}

<section x-data="{thumbs: null, swiper: null}"
x-init="thumbs = new Swiper($refs.thumbs, {
    slidesPerView: 4,
    freeMode: true,
    multipleActiveThumbs: false,
    a11y: true,
});
swiper = new Swiper($refs.container, {
    slidesPerView: 1,
    spaceBetween: 10,
    edgeSwipeDetection: 'prevent',
    updateOnWindowResize: true,
    watchSlidesProgress: true,
    slideToClickedSlide: true,
    a11y: true,
    freeMode: true,
    breakpoints: {
      640: {
          slidesPerView: 1.25,
          spaceBetween: 60
      }
    },
    thumbs: {
        swiper: thumbs,
    }
  });
"
class="overflow-hidden">
    <div class="border-charcoal-20 border-t border-b">
        <div class="fluid-container h-16 md:h-[4.5rem] flex justify-start items-center">
            <div class="pr-6 md:pr-12">
                <h3 class="text-lg md:text-2xl leading-tight text-black">{{ title }}</h3>
            </div>
            <div class="border-r border-chacoal-20 h-1/2"></div>
            <nav x-ref="thumbs" class="!pl-6 !md:pl-12 w-full h-full swiper relative !overflow-x-visible">
                <div class="swiper-wrapper items-start justify-start">
                    {{ products }}
                        <a href="javascript:void(0)" class="swiper-slide cursor-pointer !inline-flex h-full items-center font-mono font-normal">
                            <span class="swiper-tab-dot w-4 h-4 bg-green rounded-full mr-3"></span>
                            {{ title }}
                        </a>
                    {{ /products }}
                </div>
            </nav>
        </div>
    </div>

    <div class="fluid-container my-12 md:my-16">
        <div class="swiper relative !overflow-x-visible" x-ref="container">
            <div class="swiper-wrapper">
            {{ products }}
                <div class="swiper-slide">
                    <div class="flex flex-col justify-between items-start">
                    <figure>
                        {{ partial
                            src="statamic-peak-tools::components/picture"
                            sizes="(min-width: 1280px) 1150px, 90vw')"
                            aspect_ratio="8/5 large:9/4"
                            cover="true"
                            lazy="true"
                        }}
                    </figure>
                    {{ partial:typography/h2 class="mt-6" color="text-neutral" :content="headline" }}
                    {{ if text }}
                        {{ partial:typography/p class="mt-4" :content="text" }}
                    {{ /if }}
                    {{ partial:components/button class="mt-6" label="Read More" }}
                    </div>
                </div>
            {{ /products }}
            </div>
        </div>
    </div>
    
</section>
<!-- /page_builder/_products.antlers.html -->