{{#
    @name Products
    @desc The products page builder block.
    @set page.page_builder.products
#}}

<!-- /page_builder/_products.antlers.html -->
{{ if block_type == 'carousel' }}
    {{ partial:components/products_carousel
        :title="block:title"
        :text="block:text"
        :products="block:products" }}
{{ elseif block_type == 'drive_thru' }}
    {{ partial:components/products_drive_thru
        :title="block:title"
        :text="block:text"
        :products="block:products" }}
{{ elseif block_type == 'grid' }}
    {{ partial:components/products_grid
        :title="block:title"
        :text="block:text"
        :products="block:products" }}
{{ else}}
    {{ partial:components/products_panels
        :title="block:title"
        :text="block:text"
        :products="block:products" }}
{{ /if }}

<!-- End: /page_builder/_products.antlers.html -->
