{{#
    @name Products Carousel
    @desc The Products Carousel page builder block.
    @set page.page_builder.products_carousel
#}}

<!-- /page_builder/_products_carousel.antlers.html -->
<section x-data="{swiper: null}"
x-init="swiper = new Swiper($refs.container, {
  slidesPerView: 1,
  spaceBetween: 10,
  edgeSwipeDetection: 'prevent',
  updateOnWindowResize: true,
  a11y: true,
  freeMode: true,
  pagination: {
    el: '.swiper-pagination',
    clickable: true
  },
  breakpoints: {
    640: {
        slidesPerView: 3,
        grid: {
          fill: 'rows',
          rows: 2,
        },
        spaceBetween: 24
    }
  }
})" class="overflow-hidden">
    <div class="fluid-container">
        {{ if block:title }}
        <div class="grid md:grid-cols-12 gap-8 md:col-span-12">
            {{ partial:typography/h2 :content="block:title" class="md:col-span-5" }}
            <div class="md:col-start-7 md:col-span-6">
                {{ partial:typography/p :content="block:text"}}
                {{ partial:components/buttons :buttons="block:buttons" class="mt-6" }}
            </div>
        </div>
        {{/if}}

        {{ products = {block:products} ? {block:products} : {collection:products} }}

        <div class="mt-10 md:mt-20 pb-14">   
            <div class="hidden md:block">
                <div class="swiper !pb-14" x-ref="container">
                    <div class="swiper-wrapper">
                        {{ loop times="3" }}
                        {{ products }}
                            <div class="swiper-slide">
                                <a href="{{ url }}" class="block px-10 py-8 relative border border-charcoal-40">
                                    {{ partial:typography/large color="font-medium" :content="title" }}
                                    {{ partial:components/button button_type="inline" as="button" faux="true" label="View more" class="inline-block mt-4" }}
                                </a>
                            </div>
                        {{ /products }}
                        {{ /loop }}
                    </div>
        
                    <!-- If we need pagination -->
                    <div class="swiper-pagination !text-left absolute !bottom-0"></div>
                </div>
            </div>
            <div class="md:hidden space-y-6">
                {{ products }}
                    <a href="{{ url }}" class="block px-10 py-8 relative border border-charcoal-40">
                        {{ partial:typography/large color="font-medium" :content="title" }}
                        {{ partial:components/button button_type="inline" as="button" faux="true" label="View more" class="inline-block mt-4" }}
                    </a>
                {{ /products }}
            </div>
        </div>
    </div>
</section>
<!-- End: /page_builder/_products_carousel.antlers.html -->
