{{#
	@name Testimonial
	@desc The testimonial page builder block.
    @set page.page_builder.testimonial
#}}

<!-- /page_builder/_testimonial.antlers.html -->
<section class="fluid-container grid md:grid-cols-12 gap-8 md:gap-12 items-center">
    <article class="md:col-span-6 order-2">
        {{ block:title ?= { partial:typography/h2 :content="block:title" class="mb-4" } }}

        <figure class="space-y-4">
            {{ partial:typography/large as="blockquote" :content="block:quote" }}
            
            {{ if block:author }}
                <figcaption class="block">
                    {{ partial:typography/p :content="author:title" class="font-bold" }}
                    {{ partial:typography/p :content="author:function" }}
                </figcaption>
            {{ /if }}
        </figure>

        {{ partial:components/buttons class="mt-8" }}
    </article>

    <figure class="md:col-span-6">
        {{ partial:statamic-peak-tools::components/picture :image="block:author:image" sizes="(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw" }}
    </figure>
</section>
<!-- End: /page_builder/_testimonial.antlers.html -->
