{{#
    @name thought_leadership
    @desc The thought_leadership page builder block.
    @set page.page_builder.thought_leadership
#}}

<!-- /page_builder/_thought_leadership.antlers.html -->
<section 
class="fluid-container">
    <div x-data="fadeIn()" 
    x-init="hide($el.children)" 
    x-intersect.once.margin.-20%="fadeInStagger($el)"
    class="pb-10 border-b">
        {{ if block:title }}
        <div>
            {{ partial:typography/h2 :content="title" }}
            {{ block:text ?= {partial:typography/p :content="block:text" class="mt-2" } }}
        </div>
        {{ /if }}

        <div class="mt-10 flex flex-wrap gap-4">
            <button
                    class="
                        font-mono focus:outline-none focus-visible:ring focus-visible:ring-offset-2
                        inline-flex items-center py-4 px-8 leading-none no-underline select-none whitespace-nowrap motion-safe:transition
                        border border-blue bg-blue text-white focus-visible:ring-primary
                    "
                >
                All
            </button>
            {{ resources = block:resources ? block:resources : {taxonomy:resources} }}

            {{ resources }}
                <a href="{{ url }}"
                    class="
                        font-mono focus:outline-none focus-visible:ring focus-visible:ring-offset-2
                        inline-flex items-center py-4 px-6 leading-none no-underline select-none whitespace-nowrap motion-safe:transition
                        border border-charcoal-40 text-neutral w-medium hover:font-medium focus-visible:ring-primary
                    "
                >
                    {{ title }}
                </a>
            {{ /resources }}
        </div>

        {{ thought_leadership = block:thought_leadership ? block:thought_leadership : {collection:thought_leadership limit="5" redirects="true" } }}

        <div class="mt-10 grid md:grid-cols-12 gap-6">
            {{ thought_leadership }}
                {{ partial:components/article_item class="md:col-span-3" }}
            {{ /thought_leadership }}
        </div>
        
        <nav class="mt-20 text-center">
            {{ partial:components/button label="{trans:strings.thought_leadership_all}" link_type="url" url="/insights/thought-leadership" }}
        </nav>
    </div>
</section>
<!-- End: /page_builder/_thought_leadership.antlers.html -->
