{{#
    @name Values Carousel
    @desc The Values Carousel page builder block.
    @set page.page_builder.values_carousel
#}}

<!-- /page_builder/_values_carousel.antlers.html -->
<section ax-load x-data="valuesCarousel" class="overflow-hidden">
    <div class="fluid-container relative">
        
        <div class="xl:grid xl:grid-cols-12 gap-6">
            {{ svg:corner-piece class="w-16 h-16 xl:w-20 xl:h-20 scale-x-[-1]"}}

            <div class="xl:col-span-11 -mt-4 xl:mt-0 xl:pt-16">
                {{ partial:typography/h2 :content="block:title" class="text-center xl:text-left" }}
        
                {{ values = block:values ? block:values : {collection:values} }}
        
                <div class="mt-10 md:mt-20 swiper !pb-12 md:!pb-20 !overflow-x-visible" x-ref="container">
                    <div class="swiper-wrapper">
                        {{ block:values }}
                            <div class="swiper-slide aspect-[2/3] md:aspect-[7/10] !h-auto border border-charcoal-40 !flex flex-col">
                                <div class="px-8 py-10 relative flex-1">
                                    {{ partial:typography/large color="font-medium max-w-[20ch]" :content="title|widont" }}
                                    {{ partial:typography/p class="mt-6 max-w-[36ch]" :content="text|widont" }}
                                </div>
                                {{ partial
                                    src="statamic-peak-tools::components/picture"
                                    sizes="(min-width: 1280px) 640px, (min-width: 768px) 50vw, 90vw"
                                    lazy="true"
                                    aspect_ratio="1/1"
                                    class="absolute bottom-0 inset-x-0"
                                }}
                            </div>
                        {{ /block:values }}
                    </div>
        
                    <!-- If we need pagination -->
                    <div class="swiper-pagination swiper-pagination-yellow absolute !bottom-0"></div>
                </div>
                
            </div>
        </div>

    </div>
</section>
<!-- End: /page_builder/_values_carousel.antlers.html -->
