{{#
    @name Case Studies index
    @desc The Case Studies index template.
#}}

{{ enable_hero ? {partial:layout/hero} : {partial:components/header :hero_color="hero_color:label" show_filters="true" } }}

<!-- /case_studies/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ if enable_hero && hero_extend }}
        {{ partial:components/hero_extend :hero_color="hero_color:label" }}
    {{ /if }}
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
<!-- End: /case_studies/index.antlers.html -->

{{ section:index_content }}
    <!-- /case_studies/index.antlers.html -->
    <div class="fluid-container grid md:grid-cols-12 gap-10">
        {{ collection:case_studies sort="order" paginate="true" as="items" }}
            {{ unless no_results }}
                {{ items }}
                    {{ if count % 3 == 0 }}
                        {{ partial:components/case_study size="wide" class="md:col-span-6 lg:col-span-12" }}
                    {{ else }}
                        {{ partial:components/case_study class="md:col-span-6" }}
                    {{ /if }}
                {{ /items }}
            {{ else }}
                <div class="md:col-span-6">
                    {{ trans:strings.no_results }}
                </div>
            {{ /unless }}
            {{ partial:components/pagination class="md:col-span-12" }}
        {{ /collection:case_studies }}
    </div>
    <!-- End: /case_studies/index.antlers.html -->
{{ /section:index_content }}
