{{#
    @name Case Studies show
    @desc The Case Studies show template.
#}}

{{ partial:layout/hero hero_type="case-study" }}

<!-- /case_studies/show.antlers.html -->
<main class="outer-grid" id="content">
    <div class="fluid-container">
        {{ partial:navigation/breadcrumbs }}
        {{ partial:typography/h1 :content="title" }}
    </div>

    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
<!-- /case_studies/show.antlers.html -->
