<div x-data="{ variant: 'red' }" class="w-full">
    <div class="fixed top-14 lg:top-0 inset-0 lg:pl-72">
        <div class="w-full bg-white border-charcoal-20 h-[4.5rem] border-t border-b flex justify-start items-center">
            <ul class="fluid-container flex items-center space-x-8">
                <li class="relative leading-none shrink-0">
                    <a href="#call-to-action" @click="variant = 'red'" :class="variant == 'red' ? 'text-black' : 'text-charcoal-40 hover:text-black'" class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary">
                        <span class="flex">
                            <span x-show="variant == 'red'" class="w-4 h-4 bg-red rounded-full mr-3" x-cloak></span>
                            Red
                        </span>
                    </a>
                </li>
                
                <li class="relative leading-none shrink-0">
                    <a href="#call-to-action" @click="variant = 'green'" :class="variant == 'green' ? 'text-black' : 'text-charcoal-40 hover:text-black'" class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary">
                        <span class="flex">
                            <span x-show="variant == 'green'" class="w-4 h-4 bg-green rounded-full mr-3" x-cloak></span>
                            Green
                        </span>
                    </a>
                </li>
                <li class="relative leading-none shrink-0">
                    <a href="#call-to-action" @click="variant = 'blue'" :class="variant == 'blue' ? 'text-black' : 'text-charcoal-40 hover:text-black'" class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary">
                        <span class="flex">
                            <span x-show="variant == 'blue'" class="w-4 h-4 bg-blue rounded-full mr-3" x-cloak></span>
                            Blue
                        </span>
                    </a>
                </li>
                <li class="relative leading-none shrink-0">
                    <a href="#call-to-action" @click="variant = 'yellow'" :class="variant == 'yellow' ? 'text-black' : 'text-charcoal-40 hover:text-black'" class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary">
                        <span class="flex">
                            <span x-show="variant == 'yellow'" class="w-4 h-4 bg-yellow rounded-full mr-3" x-cloak></span>
                            Yellow
                        </span>
                    </a>
                </li>
                <li class="relative leading-none shrink-0">
                    <a href="#call-to-action" @click="variant = 'render'" :class="variant == 'render' ? 'text-black' : 'text-charcoal-40 hover:text-black'" class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary">
                        <span class="flex">
                            <span x-show="variant == 'render'" class="w-4 h-4 bg-black rounded-full mr-3" x-cloak></span>
                            Render
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-16 relative">
        <div x-show="variant == 'red'" x-cloak>
            {{ partial:components/cta_illustration
                cta_title="Be part of our team"
                cta_image="/images/careers/be-part-of-our-team-01.svg"
                cta_color="Red" 
                cta_label="View Open Roles"
                anchor="red"
            }}
        </div>
        <div x-show="variant == 'green'" x-cloak>
            {{ partial:components/cta_illustration
                cta_title="Be part of our team"
                cta_image="/images/careers/be-part-of-our-team-01.svg"
                cta_color="Green" 
                cta_label="View Open Roles"
                anchor="green" }}
        </div>
        <div x-show="variant == 'blue'" x-cloak>
            {{ partial:components/cta_illustration
                cta_title="Be part of our team"
                cta_image="/images/careers/be-part-of-our-team-01.svg"
                cta_color="Blue" 
                cta_label="View Open Roles"
                anchor="blue" }}
        </div>
        <div x-show="variant == 'yellow'" x-cloak>
            {{ partial:components/cta_illustration 
                cta_title="Be part of our team"
                cta_image="/images/careers/be-part-of-our-team-01.svg"
                cta_color="Yellow" 
                cta_label="View Open Roles"
                anchor="yellow" }}
        </div>
        <div x-show="variant == 'render'" x-cloak>
            {{ partial:components/cta_render 
                cta_title="Got a project with us?"
                cta_image="/images/call-to-action/product-render.jpg"
                cta_label="Get in touch" }}
        </div>
    </div>
</div>