{{ industries = {taxonomy:industries} }}
{{ locations = {taxonomy:locations } }}
{{ products = {collection:products} }}
{{ experiences = {collection:experiences} }}

<div x-data="{ 
    industry: [], 
    location: [],
    product: [],
    experience: []
 }" class="relative border w-[390px] h-[800px] flex flex-col justify-between  bg-white">
     <div class="pb-12">
        <div class="flex items-center justify-between py-4 px-5">
            {{ partial:typography/p content="Filters" class="font-medium" }}
            <button @click.prevent.stop="mobileFilterOpen = false" class="text-black flex items-center justify-center focus:outline-none" aria-label="Close navigation">
                <svg class="h-10 w-10 -m-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 50"> <path stroke="currentColor" d="M35.417 15.625 14.583 36.458m0-20.833 20.834 20.833"></path> </svg>
            </button>
        </div>

        <form>
            {{ partial:components/filter_mobile label="Industry" :options="industries" }}
            {{ partial:components/filter_mobile label="Locations" :options="locations" }}
            {{ partial:components/filter_mobile label="Products" :options="products" }}
            {{ partial:components/filter_mobile label="Experiences" :options="experiences" }}
        </form>
      </div>
        <div class="ml-auto max-w-xl w-full px-5 py-4 bg-white">
            {{ partial:components/button label="Show 10 Case Studies" as="button" button_type="black" class="w-full justify-center" }}
        </div>
      

</div>
  <!-- End: /search/filters/_mobile.antlers.html -->