<div x-data="{ variant: 'black' }">
    <div class="fixed top-0 inset-0 lg:pl-72">
        <div class="w-full bg-white border-charcoal-20 h-[4.5rem] border-t border-b flex justify-start items-center">
            <ul class="fluid-container flex items-center space-x-8">
                <li class="relative leading-none shrink-0">
                    <a href="#hero" @click="variant = 'black'" :class="variant == 'black' ? 'text-black' : 'text-charcoal-40 hover:text-black'" class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary">
                        <span class="flex">
                            <span x-show="variant == 'black'" class="w-4 h-4 bg-black rounded-full mr-3"></span>
                            Black
                        </span>
                    </a>
                </li>
                <li class="relative leading-none shrink-0">
                    <a href="#hero" @click="variant = 'yellow'" :class="variant == 'yellow' ? 'text-black' : 'text-charcoal-40 hover:text-black'" class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary">
                        <span class="flex">
                            <span x-show="variant == 'yellow'" class="w-4 h-4 bg-yellow rounded-full mr-3"></span>
                            Yellow
                        </span>
                    </a>
                </li>
                <li class="relative leading-none shrink-0">
                    <a href="#hero" @click="variant = 'red'" :class="variant == 'red' ? 'text-black' : 'text-charcoal-40 hover:text-black'" class="p-1 -m-1 inline-flex flex-col items-center font-mono font-normal focus:outline-none focus-visible:ring-2 ring-primary">
                        <span class="flex">
                            <span x-show="variant == 'red'" class="w-4 h-4 bg-red rounded-full mr-3"></span>
                            Red
                        </span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="mt-16 relative">
        <div x-show="variant == 'black'" class="dark">
            {{ partial:layout/header }}
            {{ partial:layout/centered_hero hero_title="Lorem ipsum dolor sit amet consectetur." }}
            <div class="outer-grid">
                {{ partial:components/hero_extend }}
            </div>
        </div>
        <div x-show="variant == 'yellow'">
            {{ partial:layout/header }}
            {{ partial:layout/centered_hero color="yellow" hero_title="Lorem ipsum dolor sit amet consectetur." }}
            <div class="outer-grid">
                {{ partial:components/hero_extend color="yellow" }}
            </div>
        </div>
        <div x-show="variant == 'red'" class="dark">
            {{ partial:layout/header }}
            {{ partial:layout/centered_hero color="red" hero_title="Lorem ipsum dolor sit amet consectetur." }}
            <div class="outer-grid">
                {{ partial:components/hero_extend color="red" }}
            </div>
        </div>
    </div>
</div>