<div class="w-full max-w-3xl mx-auto flex flex-wrap border overflow-hidden">
    <img src="images/iconography/career_competitive_bonus_program.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/career_flexible_work_options.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/career_global_wellness_day_off.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/career_opportunity-for-growth.png" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_bluetooth.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_content_experimentation.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_contentmanagementicon.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_customer_experience.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_customer_preference.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_data_driven_content.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_drives_roi.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_dynamic_messaging.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_ease_of_use.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_immersive_ordering.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_location.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_management.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_operational_cost.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_proven_at_scale.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_real_time_data.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/features_templated_content.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/inverse_content_management.svg" class="bg-black p-4 w-20 h-20"/>
    <img src="images/iconography/inverse_design.svg" class="bg-black p-4 w-20 h-20"/>
    <img src="images/iconography/inverse_installation.svg" class="bg-black p-4 w-20 h-20"/>
    <img src="images/iconography/inverse_manulogistics.svg" class="bg-black p-4 w-20 h-20"/>
    <img src="images/iconography/inverse_projectmanagement.svg" class="bg-black p-4 w-20 h-20"/>
    <img src="images/iconography/inverse_support.svg" class="bg-black p-4 w-20 h-20"/>
    <img src="images/iconography/services_content_management.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/services_design.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/services_installation.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/services_manulogistics.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/services_projectmanagement.svg" class="p-4 w-20 h-20"/>
    <img src="images/iconography/services_support.svg" class="p-4 w-20 h-20"/>
</div>



