<div class="w-full max-w-3xl mx-auto grid grid-cols-4 gap-12">
    <div class="aspect-square bg-red-40"></div>
    <div class="aspect-square bg-red-20"></div>
    <div class="aspect-square bg-green-40"></div>
    <div class="aspect-square bg-green-20"></div>
    <div class="aspect-square bg-blue-40"></div>
    <div class="aspect-square bg-blue-20"></div>
    <div class="aspect-square bg-yellow-40"></div>
    <div class="aspect-square bg-yellow-20"></div>
    <div class="aspect-square bg-charcoal-60"></div>
    <div class="aspect-square bg-charcoal-40"></div>
    <div class="aspect-square bg-charcoal-20"></div>
    <div class="aspect-square bg-charcoal-10"></div>
</div>