<div class="max-w-3xl mx-auto space-y-8">
    {{ partial:typography/h1 content="We are Coates" }}
    {{ partial:typography/h2 class="max-w-[18ch]" content="Innovation backed by experience" }}
    {{ partial:typography/h3 class="max-w-[24ch]" content="Creators of immersive brand experiences for everyone." }}
    {{ partial:typography/h3 class="max-w-[24ch] font-bold" content="Creators of immersive brand experiences for everyone." }}
    {{ partial:typography/small class="max-w-[64ch]" content="Our Values are a small set of beliefs which guide the actions of the Coates Crew and determine who & what we aspire to be. Fire it up!" }}
    {{ partial:typography/small class="max-w-[64ch] font-bold" content="Think Big, Dare To Innovate" }}
    {{ partial:typography/p class="max-w-[64ch]" content="Our Values are a small set of beliefs which guide the actions of the Coates Crew and determine who & what we aspire to be. Fire it up!" }}
    {{ partial:typography/p class="max-w-[64ch] font-medium" content="Think Big, Dare To Innovate" }}
    {{ partial:typography/large class="max-w-[64ch]" content="Our Values are a small set of beliefs which guide the actions of the Coates Crew and determine who & what we aspire to be. Fire it up!" }}
    {{ partial:typography/large class="max-w-[64ch] font-medium" content="Our Values are a small set of beliefs which guide the actions of the Coates Crew and determine who & what we aspire to be. Fire it up!" }}
    {{ partial:typography/caption caption="Captions" }}
    {{ partial:typography/large class="underline" content="Read More" }}
    {{ partial:typography/p class="underline" content="Read More" }}
</div>
