{{#
    @name Offices index
    @desc The offices index template.
#}}

{{ enable_hero ? {partial:layout/hero} : {partial:components/header} }}

<!-- /offices/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ {enable_hero && hero_extend} ?= { partial:components/hero_extend :color="hero_color:label" } }}

    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>
<!-- End: /offices/index.antlers.html -->

{{ section:index_content }}
    <!-- /offices/index.antlers.html -->
    <div class="fluid-container self-start grid md:grid-cols-12 gap-8">
        {{ collection:offices sort="date:desc" paginate="true" limit="12" as="items" }}
            {{ unless no_results }}
                {{ items }}
                    {{ partial:components/offices_item class="md:col-span-4" }}
                {{ /items }}
            {{ else }}
                <div class="md:col-span-6">
                    {{ trans:strings.no_results }}
                </div>
            {{ /unless }}

            {{ partial:statamic-peak-tools::components/pagination class="md:col-span-12" }}
        {{ /collection:offices }}
    </div>
    <!-- End: /offices/index.antlers.html -->
{{ /section:index_content }}
