{{#
    @name Caption
    @desc The typography caption partial to render a caption with `as` and `caption` attributes.
    @param content The caption content.
    @param as The wrapping element. Defaults to `span`.
    @param color Set a custom text color utility. Falls back to `text-black`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_caption.antlers.html -->
{{ if caption }}
    <{{ as or 'span' }} class="block text-center text-base font-mono mt-4 {{ color or 'text-black dark:text-white' }} {{ class }}">
        {{ caption }}
    </{{ as or 'span' }}>
{{ /if }}
<!-- End: /typography/_caption.antlers.html -->
