{{#
    @name h2
    @desc The typography h2 partial to render an h2 with `class`, `as`, `color` and `content` attributes.
    @param* content The h2 content.
    @param as The wrapping element. Defaults to `h2`.
    @param color Set a custom text color utility. Falls back to `text-black`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_h2.antlers.html -->
<{{ as or 'h2' }} class="text-4xl md:text-5xl {{ color or 'text-black dark:text-white' }} {{ class }}">{{ content | nl2br }}</{{ as or 'h2' }}>
<!-- End: /typography/_h2.antlers.html -->
