{{#
    @name Paragraph Large
    @desc The typography paragraph partial to render a paragraph with `class`, `as`, `color` and `content` attributes.
    @param* content The p content.
    @param as The wrapping element. Defaults to `p`.
    @param color Set a custom text color utility. Falls back to `text-black`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_large.antlers.html -->
<{{ as or 'p' }} class="text-lg md:text-2xl {{ color or 'text-black dark:text-white' }} {{ class }}">{{ content | nl2br }}</{{ as or 'p' }}>
<!-- End: /typography/_large.antlers.html -->
