{{#
    @name Paragraph Small
    @desc The typography paragraph partial to render a paragraph with `class`, `as`, `color` and `content` attributes.
    @param* content The p content.
    @param as The wrapping element. Defaults to `p`.
    @param color Set a custom text color utility. Falls back to `text-black`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_small.antlers.html -->
<{{ as or 'p' }} class="{{ color or 'text-black' }} {{ class }}">{{ content | nl2br }}</{{ as or 'p' }}>
<!-- End: /typography/_small.antlers.html -->
